<div class="hover-content manage-tabs">
    <ul>
        <li class="item">
            <label>{{localize "pf2ettw.TabCharacterLabel"}}</label>
            <input type="checkbox" data-tab-name="character" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabActionsLabel"}}</label>
            <input type="checkbox" data-tab-name="actions" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabInventoryLabel"}}</label>
            <input type="checkbox" data-tab-name="inventory" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabSpellbookLabel"}}</label>
            <input type="checkbox" data-tab-name="spellcasting" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabCraftingLabel"}}</label>
            <input type="checkbox" data-tab-name="crafting" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabSkillsLabel"}}</label>
            <input type="checkbox" data-tab-name="proficiencies" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabFeatsLabel"}}</label>
            <input type="checkbox" data-tab-name="feats" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabEffectsLabel"}}</label>
            <input type="checkbox" data-tab-name="effects" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.Biography"}}</label>
            <input type="checkbox" data-tab-name="biography" />
        </li>
        <li class="item">
            <label>{{localize "pf2ettw.TabPathfinderSociety"}}</label>
            <input type="checkbox" data-tab-name="pfs" />
        </li>
    </ul>
</div>
