<div class="compendium-browser-settings">
    <form autocomplete="off">
        <div class="settings-container">
            <div class="setting-section">
                <h3>{{localize "pf2ettw.CompendiumBrowser.TabAction"}}</h3>
                <dl>
                    {{#each action as |conf pack|}}
                        <label><dt><input type="checkbox" name="action-{{pack}}" {{checked conf.load}}></dt><dd>{{conf.name}}</dd></label>
                    {{/each}}
                </dl>
            </div>

            <div class="setting-section">
                <h3>{{localize "pf2ettw.CompendiumBrowser.TabBestiary"}}</h3>
                <dl>
                    {{#each bestiary as |conf pack|}}
                        <label><dt><input type="checkbox" name="bestiary-{{pack}}" {{checked conf.load}}></dt><dd>{{conf.name}}</dd></label>
                    {{/each}}
                </dl>
            </div>

            <div class="setting-section">
                <h3>{{localize "pf2ettw.CompendiumBrowser.TabEquipment"}}</h3>
                <dl>
                    {{#each equipment as |conf pack|}}
                        <label><dt><input type="checkbox" name="equipment-{{pack}}" {{checked conf.load}}></dt><dd>{{conf.name}}</dd></label>
                    {{/each}}
                </dl>
            </div>

            <div class="setting-section">
                <h3>{{localize "pf2ettw.CompendiumBrowser.TabFeat"}}</h3>
                <dl>
                    {{#each feat as |conf pack|}}
                        <label><dt><input type="checkbox" name="feat-{{pack}}" {{checked conf.load}}></dt><dd>{{conf.name}}</dd></label>
                    {{/each}}
                </dl>
            </div>

            <div class="setting-section">
                <h3>{{localize "pf2ettw.CompendiumBrowser.TabHazard"}}</h3>
                <dl>
                    {{#each hazard as |conf pack|}}
                        <label><dt><input type="checkbox" name="hazard-{{pack}}" {{checked conf.load}}></dt><dd>{{conf.name}}</dd></label>
                    {{/each}}
                </dl>
            </div>

            <div class="setting-section">
                <h3>{{localize "pf2ettw.CompendiumBrowser.TabSpell"}}</h3>
                <dl>
                    {{#each spell as |conf pack|}}
                        <label><dt><input type="checkbox" name="spell-{{pack}}" {{checked conf.load}}></dt><dd>{{conf.name}}</dd></label>
                    {{/each}}
                </dl>
            </div>
        </div>

        <button type="button" class="save-settings">{{localize "SETTINGS.Save"}}</button>
    </form>
</div>
