<div class="spell-browser">
    {{> systems/pf2ettw/templates/compendium-browser/filters.html filterData=filterData }}
    <ul class="item-list result-list">
        {{#each indexData as |feat id|}}
        <li class="item flexrow" data-entry-compendium="{{feat.compendium}}" data-entry-id="{{feat._id}}" data-item-category="feats">
            <div class="image">
                <img class="" src="{{feat.img}}" title="{{feat.name}}" width="32" height="32" loading="lazy"/>
            </div>
            <div class="name">
                <a class="item-link">{{feat.name}}</a>
            </div>
            <div class="rarity tags">
                {{#unless (eq feat.rarity "common")}}
                <span class="tag {{feat.rarity}}">
                    {{lookup (lookup ../filterData.checkboxes.rarity.options feat.rarity) "label"}}
                </span>
                {{/unless}}
            </div>
            <div class="level">
                <span title="Feat level">{{feat.level}}</span>
            </div>
        </li>
        {{/each}}
    </ul>

</div>
