<div class="spell-browser">
    {{> systems/pf2ettw/templates/compendium-browser/filters.html filterData=filterData }}
    <ul class="item-list result-list">
        {{#each indexData as |item id|}}
            <li class="item flexrow" data-entry-compendium="{{item.compendium}}" data-entry-id="{{item._id}}" data-item-category="inventoryItems">
                <div class="image">
                    <img src="{{item.img}}" title="{{item.name}}" width="32" height="32" loading="lazy" />
                </div>
                <div class="name">
                    <a class="item-link">{{item.name}}</a>
                </div>
                <div class="rarity tags">
                    {{#unless (eq item.rarity "common")}}
                        <span class="tag {{item.rarity}}">
                            {{lookup (lookup ../filterData.checkboxes.rarity.options item.rarity) "label"}}
                        </span>
                    {{/unless}}
                </div>
                <div class="price" title="Item Price">{{item.price}}</div>
                <div class="level">
                    <span title="Item level">{{item.level}}</span>
                </div>
                <a class="equipment-controls" data-action="take-item" title="{{localize "pf2ettw.CompendiumBrowser.TakeLabel"}}">
                    <i class="far fa-hand-rock"></i>
                </a>
                    <a class="equipment-controls" data-action="buy-item" title="{{localize "pf2ettw.CompendiumBrowser.BuyLabel"}}">
                        <i class="fas fa-coins"></i>
                    </a>
            </li>
        {{/each}}
    </ul>

</div>
