<div class="sidebar_title">
    <h2>{{localize "pf2ettw.ResistancesLabel"}}</h2>
</div>
<ol class="resistances tags">
    {{#each data.traits.dr as |resistance|}}
        <li class="tag tag_secondary" data-slug="{{resistance.type}}">{{localize resistance.label}} {{resistance.value}}</li>
    {{/each}}
    {{#if options.editable}}
        <li class="tag edit-btn">
            <a class="crb-trait-selector" data-trait-selector="resistances">
                {{> "systems/pf2ettw/templates/actors/character/icons/plus.html"}}
            </a>
        </li>
    {{/if}}
</ol>
<div class="sidebar_title"><h2>{{localize "pf2ettw.WeaknessesLabel"}}</h2></div>
<ol class="weaknesses tags">
    {{#each data.traits.dv as |weakness|}}
        <li class="tag tag_secondary" data-slug="{{weakness.type}}">{{localize weakness.label}} {{weakness.value}}</li>
    {{/each}}
    {{#if options.editable}}
        <li class="tag edit-btn">
            <a class="crb-trait-selector" data-trait-selector="weaknesses">
                {{> "systems/pf2ettw/templates/actors/character/icons/plus.html"}}
            </a>
        </li>
    {{/if}}
</ol>
<div class="sidebar_title"><h2>{{localize "pf2ettw.ImmunitiesLabel"}}</h2></div>
<ol class="immunities tags">
    {{#each immunities as |trait|}}
        <li class="tag tag_secondary" data-slug="{{trait.value}}">{{trait.label}}</li>
    {{/each}}
    {{#if options.editable}}
        <li class="tag edit-btn">
            <a class="crb-trait-selector" data-trait-selector="basic" data-title="pf2ettw.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di">
                {{> "systems/pf2ettw/templates/actors/character/icons/plus.html"}}
            </a>
        </li>
    {{/if}}
</ol>
