<div class="sidebar_title">
  <h2>
      {{localize 'pf2ettw.HitPointsHeader'}}
  </h2>
</div>
<div class="hitpoints">
  <div class="hp-big">
    <div class="container temp-hp" title="{{localize "pf2ettw.ShieldBrokenThresholdLabel"}}">
      <span for="data.attributes.hp.brokenThreshold" class="sidebar_label">{{localize "pf2ettw.vehicle.BrokenThresholdShortLabel"}}</span>
      <div class="data-value">
        <h2>{{data.attributes.hp.brokenThreshold}}</h2>
      </div>
    </div>
    <div class="container current-hp" title="{{localize "pf2ettw.vehicle.CurrentHPTitel"}}">
      <label for="{{options.id}}-vehicle-hp-temp" class="sidebar_label">{{localize "pf2ettw.CurrentHitPointsShortLabel"}}</label>
      <div class="data-value">
        <input id="{{options.id}}-vehicle-hp-temp" name="data.attributes.hp.value" type="number" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="0" size="1"/>
      </div>
    </div>
    <div class="container max-hp" title="{{localize "pf2ettw.vehicle.MaxHPTitle"}}">
      <label for="{{options.id}}-vehicle-hp-max" class="sidebar_label">{{localize "pf2ettw.MaxHitPointsShortLabel"}}</label>
      <div class="data-value">
        <input id="{{options.id}}-vehicle-hp-max" name="data.attributes.hp.max" type="number" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="0" size="1"/>
      </div>
    </div>
  </div>
</div>