<div class="sidebar_title">
    <h2>{{localize 'pf2ettw.ArmorClassLabel'}}</h2>
</div>
<div class="armor-class">
    <div class="shield ac" title="{{localize 'pf2ettw.ArmorClassLabel'}}">
        <div class="data-value">
            <input id="{{options.id}}-vehicle-ac" name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="10" size="1"/>
        </div>
        <label for="{{options.id}}-vehicle-ac" class="sidebar_label">{{localize 'pf2ettw.ArmorClassShortLabel'}}</label>
    </div>
    <div class="shield hardness" title="{{localize 'pf2ettw.vehicle.HardnessLabel'}}">
        <div class="data-value">
            <input
                id="{{options.id}}-vehicle-hardness"
                type="number"
                data-dtype="Number"
                placeholder="0"
                name="data.attributes.hardness"
                value="{{data.attributes.hardness}}"
            />
        </div>
        <label for="{{options.id}}-vehicle-hardness" class="sidebar_label">{{localize 'pf2ettw.vehicle.HardnessShortLabel'}}</label>
    </div>
</div>