<div class="sidebar_title">
    <h2>{{localize "pf2ettw.SavesHeader"}}</h2>
</div>
<ul class="sidebar-saves">
    <li class="roll-data" data-save="fortitude">
        <h2 class="sidebar_label">{{localize "pf2ettw.SavesFortitude"}}</h2>
        <div class="save-roll">
            {{#if options.editable}}
                <a class="roll-icon save-name">
                    {{> systems/pf2ettw/templates/actors/character/icons/d20.html}}
                </a>
            {{/if}}
            <input name="data.saves.fortitude.value" type="number" value="{{data.saves.fortitude.value}}" placeholder="0" />
        </div>
    </li>
</ul>
