.dice-roll .dice-result .dice-tooltip {
    .damage-type {
        margin-bottom: 3px;

        h3 {
            text-transform: capitalize;
            padding-left: 3px;
            padding-right: 1px;
        }

        i.fa {
            flex: none;
            margin: 2px;
        }

        .dice {
            margin-left: 2px;
            margin-right: 2px;
        }

        &.acid {
            border: solid 1px darkgreen;
            h3 {
                color: darkgreen;
                background-color: rgba(0, 100, 0, 0.25);
            }
        }
        &.bludgeoning {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.chaotic {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.cold {
            border: solid 1px darkblue;
            h3 {
                color: darkblue;
                background-color: rgba(0, 0, 139, 0.25);
            }
        }
        &.electricity {
            border: solid 1px darkgoldenrod;
            h3 {
                color: darkgoldenrod;
                background-color: rgba(184, 134, 11, 0.25);
            }
        }
        &.evil {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.fire {
            border: solid 1px darkred;
            h3 {
                color: darkred;
                background-color: rgba(139, 0, 0, 0.25);
            }
        }
        &.force {
            border: solid 1px darkmagenta;
            h3 {
                color: darkmagenta;
                background-color: rgba(139, 0, 139, 0.25);
            }
        }
        &.good {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.lawful {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.mental {
            border: solid 1px midnightblue;
            h3 {
                color: midnightblue;
                background-color: rgba(25, 25, 112, 0.25);
            }
        }
        &.negative {
            border: solid 1px #000000;
            h3 {
                color: #000000;
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
        &.piercing {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.poison {
            border: solid 1px darkolivegreen;
            h3 {
                color: darkolivegreen;
                background-color: rgba(85, 107, 47, 0.25);
            }
        }
        &.positive {
            border: solid 1px #ffffff;
            h3 {
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0.25);
                text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
            }
        }
        &.radiant {
            border: solid 1px #ffffff;
            h3 {
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0.25);
                text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
            }
        }
        &.slashing {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
        &.sonic {
            border: solid 1px darkcyan;
            h3 {
                color: darkcyan;
                background-color: rgba(0, 139, 139, 0.25);
            }
        }
        &.void {
            border: solid 1px #3c3c3c;
            h3 {
                color: #3c3c3c;
                background-color: rgba(60, 60, 60, 0.25);
            }
        }
    }

    .dice .part-header .part-flavor {
        text-transform: capitalize;
    }
}

> .message-content {
    .chat-damage-buttons {
        display: flex;
        margin-top: 3px;

        button {
            flex: 1 1 0;
            width: 52px;
            font-size: var(--font-size-18);
            position: relative;
            line-height: 0.5em;

            > i.fas {
                vertical-align: top;
                position: relative;
                top: 1px;
                left: 1px;
            }

            > .transparent-half {
                opacity: 0.6;
                display: block;
                position: absolute;
                top: 0px;
                left: 48%;
                width: 16px;
                height: 24px;
                background: rgb(238, 238, 238);
            }

            .plus {
                position: absolute;
                left: 40%;
                top: 6px;
                color: rgba(255, 255, 240);
                font-size: var(--font-size-17);
                font-weight: bold;
            }

            > img {
                border: none;
                height: 19px;
                position: relative;
                top: 2px;
            }

            .label {
                font-size: 0.4em;
                text-transform: uppercase;
            }
        }

        // Slightly reposition elements if the triple-damage button is in
        &.includes-fumble {
            > button.triple-damage > img {
                left: -1px;
            }
            span.plus {
                left: 16px;
            }
        }
    }
}
