.flavor-text {
    .pf2ettw-reroll-indicator {
        float: right;
    }
}

.message-content {
    .pf2ettw-reroll-discard {
        .dice-total, .dice-tooltip {
            opacity: 0.3;
        }
    }

    .pf2ettw-reroll-second .dice-formula {
        display: none;
    }
}
