<h3>Developers / Testing Only</h3>

<section>
    {{#each activations}}
        <div class="activation form-list">
            <header>
                <strong>{{localize "pf2ettw.Item.Activation.Label"}}</strong>
                {{#unless action.components.cast}}
                    {{{actionGlyph action.actionCost}}}
                {{/unless}}
                {{action.componentsLabel}}
                <div class="item-controls">
                    <a data-action="activation-delete" data-action-id="{{id}}"><i class="fas fa-trash"></i></a>
                </div>
            </header>

            <div class="details-container-flex-row spell-components">
                <label>
                    <input type="checkbox" name="{{base}}.components.command" {{checked action.components.command}} data-dtype="Boolean"/>
                    <span>{{localize "pf2ettw.Item.Activation.CommandSheetLabel"}}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{base}}.components.envision" {{checked action.components.envision}} data-dtype="Boolean"/>
                    <span>{{localize "pf2ettw.Item.Activation.EnvisionSheetLabel"}}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{base}}.components.interact" {{checked action.components.interact}} data-dtype="Boolean"/>
                    <span>{{localize "pf2ettw.Item.Activation.Interact"}}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{base}}.components.cast" {{checked action.components.cast}} data-dtype="Boolean"/>
                    <span>{{localize "pf2ettw.Item.Activation.Cast"}}</span>
                </label>
            </div>

            <div class="details-container-flex-row">
                <div class="details-container-flex-row activation-time">
                    <select name="{{base}}.actionCost.type" data-dtype="String">
                        {{#select action.actionCost.type}}
                            {{#each @root.actionTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    {{#if (eq action.actionCost.type "action")}}
                        <select name="{{base}}.actionCost.value" data-dtype="Number">
                            {{#select action.actionCost.value}}
                                {{#each @root.actionsNumber as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    {{/if}}
                </div>
                <div class="details-container-flex-row frequency">
                    {{#if action.frequency.duration}}
                        <input type="number" name="{{base}}.frequency.max" value="{{action.frequency.max}}" data-dtype="Number"/>
                        <span>{{localize "pf2ettw.Frequency.per"}}</span>
                    {{/if}}
                    <select name="{{base}}.frequency.duration" data-dtype="String">
                        {{#select action.frequency.duration}}
                            <option value="">{{localize "pf2ettw.Time.Unit.Unlimited"}}</option>
                            {{#each @root.frequencies as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="tags">
                <label>
                    {{localize "pf2ettw.TraitsLabel"}}
                    <a class="trait-selector" data-trait-selector="basic" data-config-types="actionTraits" data-property="{{base}}.traits"><i class="fas fa-edit"></i></a>
                </label>
                {{#each traits as |trait|}}
                    <div class="tag" data-trait="{{trait.value}}">{{localize trait.label}}</div>
                {{/each}}
            </div>

            {{editor content=action.description.value target=(concat base ".description.value") button=true owner=@root.owner editable=@root.editable}}
            <input type="hidden" name="{{base}}.description.value" value="{{action.description.value}}"/>
        </div>
    {{/each}}
    <button type="button" data-action="activation-add"><i class="fas fa-plus"></i>{{localize "pf2ettw.Item.Activation.Add"}}</button>
</section>
