<h4 class="sidebar-summary">{{localize "pf2ettw.Item.SidebarSummary" type=(localize "ITEM.TypeAction")}}</h4>

{{#if data.featType.value}}
    <span class="item-summary">{{lookup featTypes data.featType.value}}</span>
{{/if}}
{{#if data.requirements.value}}<span class="item-summary">{{data.requirements.value}}</span>{{/if}}

<ol class="item-tags tags">
    {{#each traits as |trait|}}
        <li class="tag tag_transparent">{{trait.label}}</li>
    {{/each}}
</ol>
