<h4 class="sidebar-summary">{{localize "pf2ettw.Item.SidebarSummary" type=(localize "ITEM.TypeAncestry")}}</h4>

<ol class="item-tags tags">
    {{#each traits}}
        {{#if this.selected}}
            <li class="tag tag_transparent">{{localize this.label}}</li>
        {{/if}}
    {{/each}}
    <li class="tag tag_transparent">{{#with (lookup sizes data.size)}}{{localize this.label}}{{/with}}</li>
    <li class="tag tag_transparent">{{#with (lookup rarities data.traits.rarity)}}{{localize this.label}}{{/with}}</li>
</ol>
