<h4 class="sidebar-summary">{{localize "pf2ettw.Item.SidebarSummary" type=(localize "ITEM.TypeBackpack")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "pf2ettw.QuantityLabel"}}</label>
        <input type="number" name="data.quantity" value="{{data.quantity}}" />
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.Rarity"}}</label>
        <select name="data.traits.rarity">
            {{#select data.traits.rarity}}
                {{#each rarity as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.BulkLabel"}}</label>
        <select name="data.weight.value" {{disabled bulkDisabled}}>
            {{#select data.weight.value}}
                <option value="-">{{localize "pf2ettw.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.EquippedBulkLabel"}}</label>
        <select name="data.equippedBulk.value" {{disabled bulkDisabled}}>
            {{#select data.equippedBulk.value}}
                <option value="">{{localize "pf2ettw.EquippedSameBulkValue"}}</option>
                <option value="0">{{localize "pf2ettw.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.Size"}}</label>
        <select name="data.size">
            {{#select data.size}}
                {{#each sizes as |name value|}}
                    <option value="{{value}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.StackGroupLabel"}}</label>
        <select name="data.stackGroup">
            {{#select data.stackGroup}}
                <option value="">{{localize "pf2ettw.NoStackGroup"}}</option>
                {{#each stackGroups as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{priceString}}" />
    </div>
    <ol class="item-tags tags">
        {{#each traits as |trait|}}
            <li class="tag tag_transparent">{{localize trait.label}}</li>
        {{/each}}
    </ol>
</div>
