<div class="form-group">
    <label>{{localize "pf2ettw.Rarity"}}</label>
    <select name="data.traits.rarity" data-dtype="String">
        {{#select data.traits.rarity}}
            {{#each rarities as |rarity slug|}}
                <option value="{{slug}}">{{rarity.label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.HitPointsHeader"}}</label>
    <input type="number" name="data.hp" min="6" max="12" data-dtype="Number" value="{{data.hp}}">
</div>


<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.KeyAbilityLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.KeyAbilityLabel" data-config-types="abilities" data-property="data.keyAbility" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each selectedKeyAbility}}
            <span class="tag-legacy {{@key}}">{{localize this}}</span>
        {{/each}}
    </ul>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.ClassDCLabel"}}</label>
    <select name="data.classDC" data-dtype="Number">
        {{#select data.classDC}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.PerceptionLabel"}}</label>
    <select name="data.perception" data-dtype="Number">
        {{#select data.perception}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.SavesFortitude"}}</label>
    <select name="data.savingThrows.fortitude" data-dtype="Number">
        {{#select data.savingThrows.fortitude}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.SavesReflex"}}</label>
    <select name="data.savingThrows.reflex" data-dtype="Number">
        {{#select data.savingThrows.reflex}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.SavesWill"}}</label>
    <select name="data.savingThrows.will" data-dtype="Number">
        {{#select data.savingThrows.will}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.WeaponTypeSimple"}}</label>
    <select name="data.attacks.simple" data-dtype="Number">
        {{#select data.attacks.simple}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.WeaponTypeMartial"}}</label>
    <select name="data.attacks.martial" data-dtype="Number">
        {{#select data.attacks.martial}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.WeaponTypeAdvanced"}}</label>
    <select name="data.attacks.advanced" data-dtype="Number">
        {{#select data.attacks.advanced}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.WeaponTypeUnarmed"}}</label>
    <select name="data.attacks.unarmed" data-dtype="Number">
        {{#select data.attacks.unarmed}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group other-weapons">
    <label>{{localize "pf2ettw.WeaponTypeSpecial"}}</label>
    <input type="text" name="data.attacks.other.name" data-dtype="String" value="{{data.attacks.other.name}}">
    <select name="data.attacks.other.rank" data-dtype="Number">
        {{#select data.attacks.other.rank}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.ArmorTypeUnarmored"}}</label>
    <select name="data.defenses.unarmored" data-dtype="Number">
        {{#select data.defenses.unarmored}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.ArmorTypeLight"}}</label>
    <select name="data.defenses.light" data-dtype="Number">
        {{#select data.defenses.light}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "pf2ettw.ArmorTypeMedium"}}</label>
    <select name="data.defenses.medium" data-dtype="Number">
        {{#select data.defenses.medium}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>


<div class="form-group">
    <label>{{localize "pf2ettw.ArmorTypeHeavy"}}</label>
    <select name="data.defenses.heavy" data-dtype="Number">
        {{#select data.defenses.heavy}}
            {{#each proficiencyChoices as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.TrainedSkillsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.TrainedSkillsLabel" data-config-types="skills" data-property="data.trainedSkills"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each trainedSkills}}
            {{#if this.selected}}
                <span class="tag-legacy {{@key}}">{{this.label}}</span>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="form-group additional-language">
    <label>{{localize "pf2ettw.AdditionalSkills"}}</label>
    <input type="number" name="data.trainedSkills.additional" data-dtype="Number" value="{{data.trainedSkills.additional}}">
    <span>{{localize "pf2ettw.AdditionalLanguagePlusInt"}}</span>
</div>


<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.AncestryFeatLevels"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.AncestryFeatLevels" data-config-types="levels" data-property="data.ancestryFeatLevels" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each ancestryFeatLevels}}
            {{#if this.selected}}
                <span class="tag-legacy {{@key}}">{{this.label}}</span>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.ClassFeatLevels"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.ClassFeatLevels" data-config-types="levels" data-property="data.classFeatLevels" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each classFeatLevels}}
            <span class="tag-legacy {{@key}}">{{this.label}}</span>
        {{/each}}
    </ul>
</div>

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.GeneralFeatLevels"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.GeneralFeatLevels" data-config-types="levels" data-property="data.generalFeatLevels" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each generalFeatLevels}}
            <span class="tag-legacy {{@key}}">{{this.label}}</span>
        {{/each}}
    </ul>
</div>

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.SkillFeatLevels"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.SkillFeatLevels" data-config-types="levels" data-property="data.skillFeatLevels" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each skillFeatLevels}}
            <span class="tag-legacy {{@key}}">{{this.label}}</span>
        {{/each}}
    </ul>
</div>

<div class="form-group form-group-trait">
    <label class="pf-title">
        {{localize "pf2ettw.SkillIncreaseLevels"}}
        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.SkillIncreaseLevels" data-config-types="levels" data-property="data.skillIncreaseLevels" data-no-custom="true"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="abc-traits-list">
        {{#each skillIncreaseLevels}}
            <span class="tag-legacy {{@key}}">{{this.label}}</span>
        {{/each}}
    </ul>
</div>

{{~#*inline "abcItem"~}}
    <li data-pack-id="{{item.pack}}" data-index="{{i}}" data-item-id="{{item.id}}">
        <img src="{{item.img}}">
        <div class="name">
            {{item.name}}{{#unless item.pack}}<i class="fa fa-globe" title="{{localize "pf2ettw.AncestryFeatures"}}"></i>{{/unless}}
        </div>
        <input type="number" class="level" value="{{item.level}}" name="data.items.{{i}}.level" />
        <input value="{{item.name}}" name="data.items.{{i}}.name" type="hidden" data-dtype="String" />
        <input value="{{item.pack}}" name="data.items.{{i}}.pack" type="hidden" data-dtype="String" />
        <input value="{{item.id}}" name="data.items.{{i}}.id" type="hidden" data-dtype="String" />
        <a class="remove" data-action="remove"><i class="fa fa-times"></i></a>
        {{#if item.items~}}
            {{#> abcItems item}}{{@partial-block}}items.{{i}}.{{/abcItems}}
        {{~/if}}
    </li>
{{~/inline~}}

{{~#*inline "abcItems"~}}
<ul class="item-refs">
    {{#each items}}
        {{#> abcItem item=this.item i=this.key}}{{@partial-block}}{{/abcItem}}
    {{/each}}
</ul>
{{~/inline~}}

<div class="form-group-stacked item-ref-group" data-valid-drops="classfeature">
    <label for="data.traits">{{localize "pf2ettw.ClassFeatures"}}</label>
    {{#> abcItems}}{{/abcItems}}
    {{#unless data.items}}{{localize pf2ettw.DragDropFeats}}{{/unless}}
</div>
