<h4 class="sidebar-summary">{{localize "pf2ettw.Item.SidebarSummary" type=(localize "ITEM.TypeCondition")}}</h4>

<span class="item-summary">{{item.name}}</span>

{{#unless data.duration.perpetual}}
    {{#if data.duration.value}}
        <span class="item-summary">{{localize "pf2ettw.DurationTextLabel"}} {{data.duration.value}} {{localize "pf2ettw.DurationNumberLabel"}}</span>
    {{else}}
        <span class="item-summary">{{localize "pf2ettw.DurationTextLabel"}} {{data.duration.text}}</span>
    {{/if}}
{{/unless}}

{{#if data.modifiers.length}}
    <span class="item-summary">{{localize "pf2ettw.ModifiersTitle"}}</span>
    <ol class="item-tags tags">
        {{#each data.modifiers}}
            <li class="tag tag_transparent">{{this.group}} {{this.type}} {{#if data.value.isValued}}{{data.value.value}}{{else}}{{this.value}}{{/if}}</li>
        {{/each}}
    </ol>
{{/if}}

{{#if data.overrides.length}}
    <span class="item-summary">{{localize "pf2ettw.OverridesTitle"}}</span>
    <ol class="item-tags tags">
        {{#each data.overrides}}
            <li class="tag tag_transparent">{{this}}</li>
        {{/each}}
    </ol>
{{/if}}
