<h4 class="sidebar-summary">{{localize "pf2ettw.Item.SidebarSummary" type=(localize "ITEM.TypeEffect")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label for="effect-level">{{localize "pf2ettw.LevelLabel"}}</label>
        <div class="form-fields">
            <input type="number" name="data.level.value" value="{{data.level.value}}" />
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="{{#if (eq data.duration.unit "unlimited")}}effect-duration-unit{{else}}effect-duration-value{{/if}}">{{localize "pf2ettw.Time.Duration"}}</label>
        <div class="form-fields">
            {{#if (or (eq data.duration.unit "unlimited") (eq data.duration.unit "encounter"))}}
                <input type="hidden" name="data.duration.value" value="-1" data-dtype="Number" />
            {{else}}
                <input type="number" name="data.duration.value" class="left-of-select" value="{{data.duration.value}}" />
            {{/if}}
            <select name="data.duration.unit">
                {{#select data.duration.unit}}
                    <option value="rounds">{{localize "pf2ettw.Time.Unit.Rounds"}}</option>
                    <option value="minutes">{{localize "pf2ettw.Time.Unit.Minutes"}}</option>
                    <option value="hours">{{localize "pf2ettw.Time.Unit.Hours"}}</option>
                    <option value="days">{{localize "pf2ettw.Time.Unit.Days"}}</option>
                    <option value="unlimited">{{localize "pf2ettw.Time.Unit.Unlimited"}}</option>
                    <option value="encounter">{{localize "pf2ettw.Time.Unit.UntilEncounterEnds"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="effect-duration-sustained">{{localize "pf2ettw.Item.Effect.Sustained"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="data.duration.sustained" {{checked data.duration.sustained}} />
        </div>
    </div>
    {{#unless (or (eq data.duration.unit "unlimited") (eq data.duration.unit "encounter"))}}
        <div class="form-group">
            <label for="effect-duration-expiry">{{localize "pf2ettw.Item.Effect.Expiry.ExpiresOn"}}</label>
            <div class="form-fields">
                <select name="data.duration.expiry">
                    {{#select data.duration.expiry}}
                        <option value="turn-start">{{localize "pf2ettw.Item.Effect.Expiry.StartOfTurn"}}</option>
                        <option value="turn-end">{{localize "pf2ettw.Item.Effect.Expiry.EndOfTurn"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    {{/unless}}
    <div class="form-group">
        <label for="data.tokenIcon.show">{{localize "pf2ettw.Item.Effect.ShowTokenIcon"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="data.tokenIcon.show" {{checked data.tokenIcon.show}} />
        </div>
    </div>
</div>
