<div class="form-group-stacked">
    <label>
        {{localize "pf2ettw.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="equipmentTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list tags">
        {{#each traits as |trait|}}
            <li class="tag" data-trait="{{trait.value}}">{{trait.label}}</li>
        {{/each}}
    </ul>
</div>
