<h4 class="sidebar-summary">{{localize "pf2ettw.Item.SidebarSummary" type=(localize "ITEM.TypeFormula")}}</h4>
<div class="inventory-details">
    <div class="form-group">
        <label>Item ID</label>
        <input type="text" name="data.craftedItem.uuid" value="{{data.craftedItem.uuid}}" />
    </div>
</div>
