<div class="form-group-stacked">
    <label>
        {{localize "pf2ettw.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="armorTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list tags">
        {{#each traits as |trait|}}
            <li class="tag" data-trait="{{trait.value}}">{{trait.label}}</li>
        {{/each}}
    </ul>
</div>

{{#*inline "kitItems"}}
    <ul class="kit-items">
        {{#each items as |item i|}}
            <li class="kit-item" data-pack-id="{{item.pack}}" data-index="{{i}}" data-item-id="{{item.id}}" {{#if item.isContainer}}data-container-id="{{i}}"{{/if}}>
                <img class="kit-item-image" src="{{item.img}}">
                <input class="kit-item-quantity" value="{{item.quantity}}" name="{{@partial-block}}items.{{i}}.quantity" type="number" />
                <div class="kit-item-name">{{item.name}}{{#unless item.pack}}<i class="fa fa-globe" title="{{localize "pf2ettw.KitWorldItem"}}"></i>{{/unless}}</div>
                <input value="{{item.name}}" name="{{@partial-block}}items.{{i}}.name" type="hidden" data-dtype='String'>
                <input value="{{item.pack}}" name="{{@partial-block}}items.{{i}}.pack" type="hidden" data-dtype='String'>
                <input value="{{item.id}}" name="{{@partial-block}}items.{{i}}.id" type="hidden" data-dtype='String'>
                <input value="{{item.isContainer}}" name="{{@partial-block}}items.{{i}}.isContainer" type="hidden" data-dtype='Boolean'>
                <a class="kit-item-remove" data-action='remove'><i class="fa fa-times"></i></a>
                {{#if item.items}}
                    {{#> kitItems item}}{{@partial-block}}items.{{i}}.{{/kitItems}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/inline}}

<div class="form-group-stacked kit-list">
    <label for="data.traits">
        {{localize "pf2ettw.KitItems"}}
    </label>
    {{#> kitItems data}}data.{{/kitItems}}
</div>
