<div class="tab item-mystification" data-tab="mystification">
    <div class="form-group mystification-status">
        <label for="toggle-mystification">{{localize "pf2ettw.identification.MystificationStatus"}}</label>
        <div class="form-fields">
            <select name="data.identification.status" data-dtype="String">
                {{#select data.identification.status}}
                    <option value="identified">{{localize "pf2ettw.identification.Identified"}}</option>
                    <option value="unidentified">{{localize "pf2ettw.identification.Unidentified"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <p>{{localize "pf2ettw.identification.UnidentifiedHint"}}</p>
    <div class="identification-data unidentified">
        <img class="mystify-control image-picker" src="{{data.identification.unidentified.img}}" data-edit="data.identification.unidentified.img" title="{{localize pf2ettw.Item.NameLabel}}" />
        <input type="text" name="data.identification.unidentified.name" value="{{data.identification.unidentified.name}}" class="mystify-control" title="{{localize pf2ettw.Item.IconLabel}}" />
        {{editor content=(enrichHTML data.identification.unidentified.data.description.value) target="data.identification.unidentified.data.description.value" button=true owner=owner editable=editable}}
    </div>
</div>
