{{#if ruleEditing}}
<section class="rule-editing">
    <div class="editor-placeholder"></div>
    <div class="item-controls">
        <button data-action="close">{{localize "pf2ettw.Item.Rules.Close"}}</button>
        <button data-action="apply">{{localize "pf2ettw.Item.Rules.Apply"}}</button>
    </div>
</section>
{{else}}
<div class="rules">
    <div class="nerd-details">
        <div class="form-group">
            <label>{{localize "pf2ettw.ItemUUIDLabel"}}</label>
            <input disabled value="{{@root.document.uuid}}"/>
            <div class="item-controls">
                <a data-clipboard="{{@root.document.uuid}}"><i class="fas fa-clipboard"></i></a>
            </div>
        </div>
        {{#if @root.document.sourceId}}
            <div class="form-group">
                <label>{{localize "pf2ettw.ItemSourceIDLabel"}}</label>
                <input disabled value="{{@root.document.sourceId}}"/>
                <div class="item-controls">
                    <a data-clipboard="{{@root.document.sourceId}}"><i class="fas fa-clipboard"></i></a>
                </div>
            </div>
        {{/if}}
    </div>

    <div>
        {{#each data.rules as |rule|}}
            <div class="rule-element-header">
                {{#with (lookup @root.ruleLabels @index)}}<h3{{#if (not recognized)}} class="unrecognized"{{/if}}>{{label}}</h3>{{/with}}
                <div class="item-controls">
                    <a class="edit-rule-element" data-rule-index="{{@index}}"><i class="fas fa-edit"></i></a>
                    <a class="remove-rule-element" data-rule-index="{{@index}}" title="{{localize "pf2ettw.ItemRemoveRuleElement"}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <textarea name="data.rules.{{@index}}" spellcheck="false">{{json rule}}</textarea>
            <hr/>
        {{/each}}
        <div class="create-rule-element">
            <select data-action="select-rule-element">
                {{#select ruleSelection.selected}}
                    {{#each ruleSelection.types as |value key|}}
                        <option value="{{key}}">{{value}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <a class="add-rule-element"><i class="fas fa-plus"></i> {{localize "pf2ettw.ItemNewRuleElement"}}</a>
        </div>
    </div>
</div>
{{/if}}
