<ol class="form-list">
    <div class="form-group">
        <label>{{localize "pf2ettw.SpellCategoryLabel"}}</label>
        <select name="data.category.value" data-dtype="String">
            {{#select data.category.value}}
                {{#each spellCategories as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless isRitual}}
        <div class="form-group">
            <label>{{localize "pf2ettw.TraitCantrip"}}</label>
            <input class="toggle-trait" type="checkbox" {{checked isCantrip}} data-trait="cantrip"/>
        </div>
    {{/unless}}
</ol>

<ol class="form-list">
    <div class="form-group">
        <label>{{localize "pf2ettw.Rarity"}}</label>
        <select name="data.traits.rarity" data-dtype="String">
            {{#select data.traits.rarity}}
                {{#each rarities as |rarity|}}
                    <option value="{{rarity.value}}">{{localize rarity.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellSchoolLabel"}}</label>
        <select name="data.school.value" data-dtype="String">
            {{#select data.school.value}}
                {{#each magicSchools as |name sch|}}
                    <option value="{{sch}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group scalable">
        <label>
            {{localize "pf2ettw.SpellTraditionsLabel"}}
            <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.SpellTraditionsLabel" data-config-types="magicTraditions" data-property="data.traditions"><i class="fas fa-edit"></i></a>
        </label>
        <ul class="traits-list" style="margin: 3px 0; padding: 0;">
            {{#each magicTraditions as |tradition|}}
                <li class="tag-legacy" data-tradition="{{tradition.value}}">{{tradition.label}}</li>
            {{/each}}
        </ul>
    </div>
</ol>

<ol class="form-list">
    <h3>{{localize "pf2ettw.CastLabel"}}</h3>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellTimeLabel"}}</label>
        <input type="text" name="data.time.value" value="{{data.time.value}}" />
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellComponentsLabel"}}</label>
        <div class="details-container-flex-row spell-components">
            <label>
                <input type="checkbox" name="data.components.focus" {{checked data.components.focus}} data-dtype="Boolean"/>
                <span>{{localize "pf2ettw.SpellComponentShortF"}}</span>
            </label>
            <label>
                <input type="checkbox" name="data.components.material" {{checked data.components.material}} data-dtype="Boolean"/>
                <span>{{localize "pf2ettw.SpellComponentShortM"}}</span>
            </label>
            <label>
                <input type="checkbox" name="data.components.somatic" {{checked data.components.somatic}} data-dtype="Boolean"/>
                <span>{{localize "pf2ettw.SpellComponentShortS"}}</span>
            </label>
            <label>
                <input type="checkbox" name="data.components.verbal" {{checked data.components.verbal}} data-dtype="Boolean"/>
                <span>{{localize "pf2ettw.SpellComponentShortV"}}</span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellRequirementsLabel"}}</label>
        <input type="text" name="data.materials.value" value="{{data.materials.value}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellCostLabel"}}</label>
        <input type="text" name="data.cost.value" value="{{data.cost.value}}" data-dtype="String"/>
    </div>
</ol>

{{#if isRitual}}
    <ol class="form-list">
        <h3>{{localize "pf2ettw.SpellRitualLabel"}}</h3>

        <div class="form-group">
            <label>{{localize "pf2ettw.SpellPrimaryCheckLabel"}}</label>
            <input type="text" name="data.primarycheck.value" value="{{data.primarycheck.value}}" data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>{{localize "pf2ettw.SpellSecondaryChecksLabel"}}</label>
            <input type="text" name="data.secondarycheck.value" value="{{data.secondarycheck.value}}" data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>{{localize "pf2ettw.SpellSecondaryCasters"}}</label>
            <input type="text" name="data.secondarycasters.value" value="{{data.secondarycasters.value}}" data-dtype="String"/>
        </div>
    </ol>
{{/if}}

<ol class="form-list">
    <h3>{{localize "pf2ettw.Usage"}}</h3>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellRangeLabel"}}</label>
        <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellTargetLabel"}}</label>
        <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="String"/>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.AreaLabel"}}</label>
        <div class="details-container-two-columns">
            <select name="data.area.value" data-dtype="String">
                <option value=""></option>
                {{#select data.area.value}}
                {{#each areaSizes as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select name="data.area.areaType" data-dtype="String">
                <option value=""></option>
                {{#select data.area.areaType}}
                {{#each areaTypes as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellDurationLabel"}}</label>
        <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String"/>
    </div>
</ol>

<ol class="form-list">
    <h3>{{localize "pf2ettw.DamageLabel"}}</h3>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellTypeLabel"}}</label>
        <select name="data.spellType.value" data-dtype="String">
            {{#select data.spellType.value}}
            {{#each spellTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "pf2ettw.SpellSaveLabel"}}</label>
        <div class="details-container-two-columns">
        <select name="data.save.basic" data-dtype="String">
            {{#select data.save.basic}}
            <option value=""></option>
            <option value="basic">{{localize "pf2ettw.SpellBasicSaveOption"}}</option>
            {{/select}}
        </select>
        <select name="data.save.value" data-dtype="String">
            {{#select data.save.value}}
            <option value=""></option>
            {{#each saves as |ability a|}}
            <option value="{{a}}">{{localize ability}}</option>
            {{/each}}
            {{/select}}
        </select>
        </div>
    </div>

    <div class="damage-formulas">
        <h3>
            {{localize "pf2ettw.FormulaPlaceholder"}}
            <div class="item-controls">
                <i class="fas fa-plus" data-action="damage-create"></i>
            </div>
        </h3>

        {{#each data.damage.value as |damage id|}}
            <div class="formula-section">
                <div class="details-container-flex-row">
                    <input type="text" name="data.damage.value.{{id}}.value" value="{{damage.value}}" data-dtype="String" placeholder="{{localize "pf2ettw.FormulaPlaceholder"}}"/>
                    <label>
                        <span>&nbsp;{{localize "pf2ettw.SpellAbilityModLabel"}}</span>
                        <input type="checkbox" name="data.damage.value.{{id}}.applyMod" value="0" data-dtype="Boolean" {{checked damage.applyMod}}/>
                    </label>
                    <select name="data.damage.value.{{id}}.type.subtype" data-dtype="String">
                        {{#select damage.type.subtype}}
                            <option></option>
                            {{#each @root.damageSubtypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <select name="data.damage.value.{{id}}.type.value" data-dtype="String">
                        {{#select damage.type.value}}
                            <option value=""></option>
                            {{#each @root.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <div class="item-controls">
                        <a class="trait-selector" data-trait-selector="basic" data-title="pf2ettw.DamageCategoriesLabel" data-config-types="damageCategories" data-property="data.damage.value.{{id}}.type.categories"><i class="fas fa-edit"></i></a>
                        <a data-action="damage-delete" data-id="{{id}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{#if damage.type.categories}}
                    <div class="traits-list">
                        {{#each damage.type.categories}}
                            <div class="tag-legacy">{{localize (lookup @root.damageCategories this)}}</div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</ol>

{{#unless data.heightening.type}}
{{#if canHeighten}}
    <button data-action="heightening-interval-create"><i class="fas fa-plus"></i> {{localize "pf2ettw.SpellScalingInterval.Add"}}</button>
{{/if}}
{{/unless}}

{{#if (eq data.heightening.type "interval")}}
    <div class="form-list">
        <h3>
            {{localize "pf2ettw.SpellScalingInterval.Header"}}
            <div class="item-controls">
                <i class="fas fa-trash" data-action="heightening-delete" data-idx="{{idx}}"></i>
            </div>
        </h3>

        <div class="form-group">
            <label>{{localize "pf2ettw.SpellScalingInterval.Label"}}</label>
            <select name="data.heightening.interval" data-dtype="Number">
                {{#select data.heightening.interval}}
                    {{#each @root.heightenIntervals as |key|}}
                        <option value="{{key}}">{{localize "pf2ettw.SpellScalingInterval.Selection" interval=key}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        {{#each data.damage.value as |damage idx|}}
            <div class="form-group">
                <label>{{localize (lookup @root.damageTypes damage.type.value)}}</label>
                <input type="text" name="data.heightening.damage.{{idx}}" value="{{lookup ../data.heightening.damage idx}}"/>
            </div>
        {{/each}}
    </div>
{{/if}}

{{! Spell heightening for fixed levels}}
{{#unless (eq data.heightening.type "interval")}}
    {{#each heightenOverlays}}
        {{> systems/pf2ettw/templates/items/spell-overlay.html this=this}}
    {{/each}}
    {{#if canHeighten}}
    <button data-action="heightening-fixed-create" data-overlay-type="heightening">
        <i class="fas fa-plus"></i> {{localize "pf2ettw.SpellScalingOverlay.Add"}}
    </button>
    {{/if}}
{{/unless}}

<div class="form-group">
    <label>{{localize "pf2ettw.Counteract"}}</label>
    <input type="checkbox" name="data.hasCounteractCheck.value" value="true" data-dtype="Boolean" {{checked data.hasCounteractCheck.value}}/>
</div>

<div class="form-group-stacked">
    <label>
        {{localize "pf2ettw.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="spellTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list tags">
        {{#each traits as |trait|}}
            {{#if trait.selected}}
                <li class="tag" data-trait="{{trait.value}}">{{localize trait.label}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>
