<form class="flexcol" autocomplete="off">
  <h2>{{localize 'pf2ettw.SETTINGS.Variant.Stamina.Title'}}</h2>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.Stamina.Name'}}</label>
    <div class="form-fields">
          <select name="staminaVariant">
          {{#select staminaVariant.value}}
          {{#each staminaVariant.setting.choices as |label value|}}
          <option value="{{value}}">{{localize label}}</option>
          {{/each}}
          {{/select}}
        </select>
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.Stamina.Hint'}}</p>
  </div>
  <h2>{{localize 'pf2ettw.SETTINGS.Variant.AncestryParagon.Title'}}</h2>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.AncestryParagon.Name'}}</label>
    <div class="form-fields">
        <input type="checkbox" {{checked ancestryParagonVariant.value}} name="ancestryParagonVariant">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.AncestryParagon.Hint'}}</p>
  </div>
  <h2>{{localize 'pf2ettw.SETTINGS.Variant.FreeArchetype.Title'}}</h2>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.FreeArchetype.Name'}}</label>
    <div class="form-fields">
        <input type="checkbox" {{checked freeArchetypeVariant.value}} name="freeArchetypeVariant">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.FreeArchetype.Hint'}}</p>
  </div>
  <h2>{{localize 'pf2ettw.SETTINGS.Variant.DualClass.Title'}}</h2>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.DualClass.Name'}}</label>
    <div class="form-fields">
        <input type="checkbox" {{checked dualClassVariant.value}} name="dualClassVariant">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.DualClass.Hint'}}</p>
  </div>
  <h2>{{localize 'pf2ettw.SETTINGS.Variant.AutomaticBonus.Title'}}</h2>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.AutomaticBonus.Name'}}</label>
    <div class="form-fields">
          <select name="automaticBonusVariant">
          {{#select automaticBonusVariant.value}}
          {{#each automaticBonusVariant.setting.choices as |label value|}}
          <option value="{{value}}">{{localize label}}</option>
          {{/each}}
          {{/select}}
        </select>
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.AutomaticBonus.Hint'}}</p>
  </div>
  <h2>{{localize 'pf2ettw.SETTINGS.Variant.Proficiency.Title'}}</h2>
  <div class="form-group">
      <label>{{localize 'pf2ettw.SETTINGS.Variant.Proficiency.Name'}}</label>
      <div class="form-fields">
            <select name="proficiencyVariant">
            {{#select proficiencyVariant.value}}
            {{#each proficiencyVariant.setting.choices as |label value|}}
            <option value="{{value}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
          </select>
      </div>
      <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.Proficiency.Hint'}}</p>
  </div>
  <div class="form-group">
      <label>{{localize 'pf2ettw.SETTINGS.Variant.UntrainedModifier.Name'}}</label>
      <div class="form-fields">
          <input type="number" name="proficiencyUntrainedModifier" value="{{proficiencyUntrainedModifier.value}}" data-dtype="Number">
      </div>
      <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.UntrainedModifier.Hint'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.TrainedModifier.Name'}}</label>
    <div class="form-fields">
        <input type="number" name="proficiencyTrainedModifier" value="{{proficiencyTrainedModifier.value}}" data-dtype="Number">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.TrainedModifier.Name'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.ExpertModifier.Name'}}</label>
    <div class="form-fields">
        <input type="number" name="proficiencyExpertModifier" value="{{proficiencyExpertModifier.value}}" data-dtype="Number">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.ExpertModifier.Name'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.MasterModifier.Name'}}</label>
    <div class="form-fields">
        <input type="number" name="proficiencyMasterModifier" value="{{proficiencyMasterModifier.value}}" data-dtype="Number">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.MasterModifier.Name'}}</p>
  </div>
  <div class="form-group">
    <label>{{localize 'pf2ettw.SETTINGS.Variant.LegendaryModifier.Name'}}</label>
    <div class="form-fields">
        <input type="number" name="proficiencyLegendaryModifier" value="{{proficiencyLegendaryModifier.value}}" data-dtype="Number">
    </div>
    <p class="notes">{{localize 'pf2ettw.SETTINGS.Variant.LegendaryModifier.Name'}}</p>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
    <button type="button" name="reset">
        <i class="fas fa-undo"></i> {{localize "Reset Defaults"}}
    </button>
  </footer>
</form>
