<section class="sheet-body content sheet-content-loot inventory">
    {{> "systems/pf2ettw/templates/actors/partials/coinage.html" owner=owner}}
    <ol class="inventory-list directory-list inventory-pane item-container item-list" data-container-type="actorInventory">
        {{#each inventory.sections as |section|}}
            <li class="inventory-header">
                <h3 class="item-name">{{section.label}}</h3>
                <span class="item-sell-value">{{localize "pf2ettw.UnitPriceLabel"}}</span>
                <span class="item-quantity">{{localize "pf2ettw.QuantityLabel"}}</span>
                <span class="item-weight">{{localize "pf2ettw.BulkShortLabel"}}</span>
                {{#if @root.owner}}
                    <div class="item-controls" style="display: flex">
                        <a class="item-control item-create" title="{{localize "pf2ettw.CreateItemTitle"}}" data-type="{{section.type}}"><i class="fas fa-plus"></i></a>
                        <a class="item-control inventory-browse" title="{{localize "pf2ettw.OpenInventoryBrowser"}}" data-filter="itemtypes-{{section.type}}"><i class="fas fa-search"></i></a>
                    </div>
                {{/if}}
            </li>
            <ol class="item-list">
                {{#each section.items}}
                    {{> "systems/pf2ettw/templates/actors/partials/item-line.html" this=this editable=@root.editable owner=@root.owner user=@root.user}}
                {{/each}}
            </ol>
        {{/each}}
    </ol>
</section>
