<section class="sheet-sidebar sidebar sidebar-loot">
    <img class="actor-icon" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    {{#if owner}}
        {{editor content=data.details.description.value target="data.details.description.value" button=true user=user editable=editable}}
    {{else}}
        <div class="description">{{{enrichHTML data.details.description.value}}}</section>
    {{/if}}
    {{#if user.isGM}}
        {{#if isLoot}}
            <section class="loot-distribution">
                <button class= "split-coins" type="button" name="split-coins" value="1"><i class="fa fa-coins"></i> {{localize "pf2ettw.loot.SplitCoinsLabel"}}</button>
                <button class= "loot-npcs" type="button" name="loot-npc"><i class="fas fa-box-open"></i> {{localize "pf2ettw.loot.LootNPCsLabel"}}</button>
            </section>
        {{/if}}
        <hr />

        <!-- GM SETTINGS -->
        <section class="gm-settings">
            <h3 class="gm-settings">{{localize "pf2ettw.loot.GMSettings"}}</h3>
            <h4 class="sheet-type">
                {{localize "pf2ettw.loot.SheetType"}}
                <i class="fas fa-info-circle help" title="<p><strong>{{localize 'pf2ettw.loot.LootLabel'}}</strong>: {{localize 'pf2ettw.loot.LootDescription'}}</p><p><strong>{{localize 'pf2ettw.loot.MerchantLabel'}}</strong>: {{localize 'pf2ettw.loot.MerchantDescription'}}</p>"></i>
                <select name="data.lootSheetType">
                    {{#select data.lootSheetType}}
                        <option value="Loot">{{localize "pf2ettw.loot.LootLabel"}}</option>
                        <option value="Merchant">{{localize "pf2ettw.loot.MerchantLabel"}}</option>
                    {{/select}}
                </select>
            </h4>
            {{#if isLoot}}
                <div class="hidden-when-empty">
                    <h4>
                        <span>{{localize "pf2ettw.loot.HiddenWhenEmpty.Label"}}</span>
                        <input type="checkbox" name="data.hiddenWhenEmpty" data-dtype="Boolean" {{checked data.hiddenWhenEmpty}} />
                    </h4>
                    <span>{{localize "pf2ettw.loot.HiddenWhenEmpty.Hint"}}</span>
                </div>
            {{/if}}
        </section>
    {{/if}}
</section>
