<div class="dice-roll attack-roll strike">
    {{#if flavor}}<div class="dice-flavor">
        {{flavor}}
    </div>{{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>
{{#if canRollDamage}}
    <div class="message-buttons" data-strike-index="{{strike.index}}" data-strike-name="{{strike.name}}">
        <button type="button" class="success" data-action="strike-damage">{{localize "pf2ettw.DamageLabel"}}</button>
        <button type="button" class="critical-success" data-action="strike-critical">{{localize "pf2ettw.CriticalDamageLabel"}}</button>
    </div>
{{/if}}
