<div class="drop-item-zone">
    {{#if item}}
    <img src="{{item.img}}" class="item-icon">
    <span>{{item.name}}</span>
    {{else}}
    <img src="systems/pf2ettw/icons/actions/craft/unknown-item.webp" class="item-icon">
    <span>{{localize "pf2ettw.Actions.Craft.SelectItemDialog.DropItemZoneLabel"}}</span>
    {{/if}}
</div>
<div class="button-panel">
    <button type="button" data-event-handler="craft" {{disabled (not item)}}>
        <i class="fas fa-hammer"></i> {{localize "pf2ettw.Actions.Craft.SelectItemDialog.CraftButtonLabel"}}
    </button>
    <button type="button" data-event-handler="cancel">
        <i class="fas fa-times"></i> {{localize "pf2ettw.Actions.Craft.SelectItemDialog.CancelButtonLabel"}}
    </button>
</div>
