<div class="tab effects actions-pane" data-group="primary" data-tab="effects">
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize 'pf2ettw.ConditionsLabel'}}</h4>
        </div>
        <div class="section-body">
            <ol class="effects-list">
                {{> systems/pf2ettw/templates/actors/partials/conditions.html}}
            </ol>
        </div>
    </div>
    <div class="section-container">
        <div class="section-header">
            <h4>{{localize 'pf2ettw.EffectsLabel'}}</h4>
        </div>
        <div class="section-body">
            <ol class="effects-list">
                {{#each effectItems as |item ii|}}
                <li class="item effects" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <div class="item-image" style="background-image: url({{item.img}})">
                            <i class="fas fa-comment-alt"></i>
                        </div>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'pf2ettw.EditItemTitle'}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'pf2ettw.DeleteItemTitle'}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-summary"></div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>
