<div class="tab inventory item-container" data-container-type="actorInventory" data-group="primary" data-tab="inventory">
    <div class="items inventory-section">
        {{#if @root.owner}}
            {{> "systems/pf2ettw/templates/actors/partials/coinage.html" owner=@root.owner}}
        {{/if}}
        <div class="body">
            <ul class="item-list">
                {{#each inventory.sections as |section|}}
                    <div class="category-header inventory-header">
                        <h3 class="item-name">{{section.label}}</h3>
                        <div class="item-sell-value">{{localize "pf2ettw.NPC.Inventory.Header.ValueLabel"}}</div>
                        <div class="item-quantity">{{localize "pf2ettw.NPC.Inventory.Header.QuantityLabel"}}</div>
                        <div class="category-controls controls item-controls">
                            {{#if @root.owner}}
                                <a class="item-control item-create" data-type="{{section.type}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control inventory-browse" title="{{localize "pf2ettw.OpenInventoryBrowser"}}" data-filter="itemtypes-{{section.type}}"><i class="fas fa-search"></i></a>
                            {{/if}}
                        </div>
                    </div>
                    {{#each section.items}}
                        {{> "systems/pf2ettw/templates/actors/partials/item-line.html" this=this user=@root.user owner=@root.owner editable=@root.editable}}
                    {{/each}}
                {{/each}}
            </ul>
        </div>
        <div class="footer">
        </div>
    </div>
</div>
