<div class="tab notes" data-group="primary" data-tab="notes">
    <div class = "notes-section public-notes">
        <label class= "details-label">{{localize "pf2ettw.NPC.PublicNotes"}}</label>
        <div class="notes-text">
            {{editor content=data.details.publicNotes target="data.details.publicNotes" button=true editable=editable}}
        </div>
    </div>
    <div class="notes-section private-notes">
        <label class="details-label">{{localize "pf2ettw.NPC.PrivateNotes"}}</label>
        <div class = "notes-text">
            {{editor content=data.details.privateNotes target="data.details.privateNotes" button=true editable=editable}}
        </div>
    </div>
    <div class="source section-container headerless">
        <div class="section-body flexrow">
            <label>{{localize "pf2ettw.Source.Label"}}:</label>
            <input class="source-input" name="data.details.source.value" type="text" value="{{data.details.source.value}}" placeholder="{{localize "pf2ettw.Source.SourcePlaceholder"}}" />
            <label>{{localize "pf2ettw.Source.AuthorLabel"}}:</label>
            <input name="data.details.source.author"  type="text" value="{{data.details.source.author}}" placeholder="{{localize "pf2ettw.Source.AuthorPlaceholder"}}" />
        </div>
    </div>
</div>
