<form autocomplete="off">
    <h2>{{localize "pf2ettw.TravelSpeed.PartySpeed"}}</h2>
    <table>
        <tbody>
            <tr>
                <th>{{localize "pf2ettw.TravelSpeed.Name"}}</th>
                <th>{{localize "pf2ettw.TravelSpeed.Speed"}}</th>
                <th>{{localize "pf2ettw.TravelSpeed.ExplorationActivity"}}</th>
                <th>{{localize "pf2ettw.TravelSpeed.DetectionMode"}}</th>
                <th>{{localize "pf2ettw.TravelSpeed.ExplorationSpeed"}}</th>
            </tr>
            {{#each actors}}
                <tr>
                    <td>{{name}}</td>
                    <td class="centered"><input class="speed-input" name="actors.{{@index}}.speed" type="number" value="{{speed}}" data-dtype="Number"> {{localize "pf2ettw.TravelSpeed.FeetAcronym"}}</td>
                    <td class="centered">
                        <select name="actors.{{@index}}.explorationActivity">
                            {{#select explorationActivity}}
                                <option value="AvoidNotice">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.AvoidNotice"}}</option>
                                <option value="CoverTracks">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.CoverTracks"}}</option>
                                <option value="Defend">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.Defend"}}</option>
                                <option value="DetectMagic">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.DetectMagic"}}</option>
                                <option value="Investigate">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.Investigate"}}</option>
                                <option value="RepeatASpell">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.RepeatASpell"}}</option>
                                <option value="Scout">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.Scout"}}</option>
                                <option value="Search">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.Search"}}</option>
                                <option value="Track">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.Track"}}</option>
                                <option value="None">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.None"}}</option>
                                <option value="HalfSpeed">{{localize "pf2ettw.TravelSpeed.ExplorationActivities.HalfSpeed"}}</option>
                            {{/select}}
                        </select>
                    </td>
                    <td class="centered">
                        <select name="actors.{{@index}}.detectionMode" {{#unless requiresDetectionMode}}hidden{{/unless}}>
                            {{#select detectionMode}}
                                <option value="none">{{localize "pf2ettw.TravelSpeed.None"}}</option>
                                <option value="everything">{{localize "pf2ettw.TravelSpeed.DetectEverything"}}</option>
                                <option value="before">{{localize "pf2ettw.TravelSpeed.DetectBeforeRunningIntoIt"}}</option>
                            {{/select}}
                        </select>
                    </td>
                    <td>{{explorationSpeed}} {{localize "pf2ettw.TravelSpeed.FeetAcronym"}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="form-group">
        <label>{{localize "pf2ettw.TravelSpeed.HustleMinutes"}}</label>
        <input name="hustleMinutes" value="{{hustleMinutes}}" type="number" data-dtype="Number">
    </div>
    <h2>{{localize "pf2ettw.TravelSpeed.Journey"}}</h2>
    <div class="form-group">
        <label>{{localize "pf2ettw.TravelSpeed.Distance"}}</label>
        <div class="journey-input">
            <input name="distance" value="{{distance}}" type="number" data-dtype="Number">
            <select name="distanceUnit">
                {{#select distanceUnit}}
                    <option value="feet">{{localize "pf2ettw.TravelSpeed.Feet"}}</option>
                    <option value="miles" selected>{{localize "pf2ettw.TravelSpeed.Miles"}}</option>
                {{/select}}
            </select>
            <select name="terrain">
                {{#select terrain}}
                    <option value="normal">{{localize "pf2ettw.TravelSpeed.NormalTerrain"}}</option>
                    <option value="difficult">{{localize "pf2ettw.TravelSpeed.DifficultTerrain"}}</option>
                    <option value="greaterDifficult">{{localize "pf2ettw.TravelSpeed.GreaterDifficultTerrain"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.TravelSpeed.HoursPerDay"}}</label>
        <input name="hoursPerDay" value="{{hoursPerDay}}" type="number" data-dtype="Number">
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <th>{{localize "pf2ettw.TravelSpeed.NormalTerrain"}}</th>
                    <th>{{localize "pf2ettw.TravelSpeed.DifficultTerrain"}}</th>
                    <th>{{localize "pf2ettw.TravelSpeed.GreaterDifficultTerrain"}}</th>
                </tr>
                <tr>
                    <td class="fraction-input">
                        <select name="normalTerrainSlowdown.denominator" data-dtype="Number">
                            {{#select normalTerrainSlowdown.denominator}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                        <span class="fraction-separator">/</span>
                        <select name="normalTerrainSlowdown.numerator" data-dtype="Number">
                            {{#select normalTerrainSlowdown.numerator}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                    </td>
                    <td class="fraction-input">
                        <select name="difficultTerrainSlowdown.denominator" data-dtype="Number">
                            {{#select difficultTerrainSlowdown.denominator}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                        <span class="fraction-separator">/</span>
                        <select name="difficultTerrainSlowdown.numerator" data-dtype="Number">
                            {{#select difficultTerrainSlowdown.numerator}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                    </td>
                    <td class="fraction-input">
                        <select name="greaterDifficultTerrainSlowdown.denominator" data-dtype="Number">
                            {{#select greaterDifficultTerrainSlowdown.denominator}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                        <span class="fraction-separator">/</span>
                        <select name="greaterDifficultTerrainSlowdown.numerator" data-dtype="Number">
                            {{#select greaterDifficultTerrainSlowdown.numerator}}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
</form>
<h2>{{localize "pf2ettw.TravelSpeed.Speed"}}</h2>
<table>
    <tbody>
        <tr>
            <th>{{localize "pf2ettw.TravelSpeed.PartySpeed"}}</th>
            <th>{{localize "pf2ettw.TravelSpeed.TravelDuration"}}</th>
        </tr>
        <tr>
            <td class="centered">{{partySpeedInFeet}} {{localize "pf2ettw.TravelSpeed.Feet"}}</td>
            <td class="centered">{{#if travelDuration.weeks}}{{travelDuration.weeks}} {{localize "pf2ettw.TravelSpeed.Weeks"}}, {{/if}}{{#if travelDuration.days}}{{travelDuration.days}} {{localize "pf2ettw.TravelSpeed.Days"}}, {{/if}}{{pad travelDuration.hours 2 "0"}}:{{pad travelDuration.minutes 2 "0"}} {{localize "pf2ettw.TravelSpeed.Hours"}}</td>
        </tr>
    </tbody>
</table>
