.skill-prof, .save-prof, .perception-prof, .spellcasting-prof, .classdc-rank, .vampiredc-rank {
    .pf-rank {
        background: #{$rank-untrained};
        border: 1px solid rgba(black, 0.5);
        text-align-last: center;
        padding: 2px 1px 1px 1px;
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px rgba(white, 0.1);
        @include micro;
        font-size: var(--font-size-10);
        color: var(--text-light);
        @include flex-center;
        cursor: pointer;

        &.readonly {
            pointer-events: none;
        }
    }

    span {
        min-width: 61px;
        pointer-events: none;
    }

    option[value="0"] {background: #{$rank-untrained}; }
    span[value="1"],select[value="1"],option[value="1"] { background: #{$rank-trained}; }
    span[value="2"],select[value="2"],option[value="2"] { background: #{$rank-expert}; }
    span[value="3"],select[value="3"],option[value="3"] { background: #{$rank-master}; }
    span[value="4"],select[value="4"],option[value="4"] { background: #{$rank-legendary}; }
}
