<form class="{{cssClass}} crb-style" autocomplete="off" spellcheck="off">
    <aside>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            {{> "systems/pf2ettw/templates/actors/vehicle/sidebar/vehicle-health.html"}}
            {{> "systems/pf2ettw/templates/actors/vehicle/sidebar/vehicle-armorclass.html"}}
            {{> "systems/pf2ettw/templates/actors/vehicle/sidebar/vehicle-saves.html"}}
            {{> "systems/pf2ettw/templates/actors/vehicle/sidebar/vehicle-resistances.html"}}
        </div>
    </aside>
    {{> "systems/pf2ettw/templates/actors/vehicle/vehicle-header.html"}}
    <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "pf2ettw.TabDetailsLabel"}}</span>
        <a class="item" data-tab="details" title="{{localize "pf2ettw.TabDetailsLabel"}}"><i class="fas fa-dharmachakra"></i></a>
        <a class="item" data-tab="actions" title="{{localize "pf2ettw.TabActionsLabel"}}"><i class="fas fa-bullseye"></i></a>
        <a class="item" data-tab="inventory" title="{{localize "pf2ettw.TabInventoryLabel"}}"><i class="fas fa-box-open"></i></a>
        <a class="item" data-tab="description" title="{{localize "pf2ettw.TabDescriptionLabel"}}"><i class="fas fa-book-reader"></i></a>
    </nav>
    <section class="sheet-body">
        <section class="sheet-content">
            {{> "systems/pf2ettw/templates/actors/vehicle/tabs/vehicle-details.html"}}
            {{> "systems/pf2ettw/templates/actors/vehicle/tabs/vehicle-actions.html"}}
            {{> "systems/pf2ettw/templates/actors/vehicle/tabs/vehicle-inventory.html"}}
            {{> "systems/pf2ettw/templates/actors/vehicle/tabs/vehicle-description.html"}}
        </section>
    </section>
</form>
