<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "pf2ettw.Actor.NPC.Configure.Alliance.Label"}}</label>
        <select name="alliance">
            {{#each alliances as |option|}}
                <option value="{{option.value}}"{{#if option.selected}} selected="selected"{{/if}}>{{localize option.label}}</option>
            {{/each}}
        </select>
        <p class="hint">{{localize "pf2ettw.Actor.NPC.Configure.Alliance.Hint"}}</p>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.Actor.NPC.Configure.Lootable.Label"}}</label>
        <select name="lootable">
            {{#each lootable as |option|}}
                <option value="{{option.value}}"{{#if option.selected}} selected="selected"{{/if}}>{{localize option.label}}</option>
            {{/each}}
        </select>
        <p class="hint">{{{localize "pf2ettw.Actor.NPC.Configure.Lootable.Hint"}}}</p>
    </div>
    <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize "SETTINGS.Save"}}
    </button>
</form>
