<form class="npc-sheet" autocomplete="off">
    <div class="side-bar">
        {{> "systems/pf2ettw/templates/actors/npc/partials/sidebar.html"}}
    </div>
    <div class="npc-body">
        {{> "systems/pf2ettw/templates/actors/npc/partials/header.html"}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{localize "pf2ettw.NPC.MainTab"}}</a>
            <a class="item {{disabled (not document.inventory.size)}}" data-tab="inventory">{{localize "pf2ettw.NPC.InventoryTab"}}</a>
            <a class="item {{disabled (not document.isSpellcaster)}}" data-tab="spells">{{localize "pf2ettw.NPC.SpellsTab"}}</a>
            <a class="item {{disabled (nor conditions.length effectItems.length)}}" data-tab="effects">{{localize "pf2ettw.NPC.EffectsTab"}}</a>
            <a class="item {{disabled (nor data.details.publicNotes data.details.privateNotes)}}" data-tab="notes">{{localize "pf2ettw.NPC.NotesTab"}}</a>
        </nav>
        <section class="sheet-body">
            {{> "systems/pf2ettw/templates/actors/npc/tabs/main.html"}}
            {{> "systems/pf2ettw/templates/actors/npc/tabs/inventory.html"}}
            {{> "systems/pf2ettw/templates/actors/npc/tabs/spells.html"}}
            {{> "systems/pf2ettw/templates/actors/npc/tabs/effects.html"}}
            {{> "systems/pf2ettw/templates/actors/npc/tabs/notes.html"}}
        </section>
    </div>
</form>
