header.char-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);

    .char-details {
        @include micro;
        margin-top: 4px;
        margin-left: 8px;

        h1.char-name {
            margin: 0;
            border: none;
            margin-bottom: 4px;
            span.non-editable {
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0;
                text-shadow: none;
                text-rendering: auto;
                &.gender {
                  font-size: var(--font-size-14);
                }
            }
            input[type='text'], span.non-editable {
                font-family: var(--serif);
                font-weight: 500;
                font-size: var(--font-size-24);
                color: var(--text-light);
                line-height: calc(1em + 1px);
                border-bottom: 1px solid transparent;
                height: 26px;
                &:focus {
                    box-shadow: none;
                    border-bottom: 1px solid var(--text-light);
                }
            }
        }

        h2.non-editable.ancestry-class {
            font-family: var(--serif);
            border-bottom: none;
            margin-bottom: 0;
            font-weight: 400;
        }

        .dotcontainer {
            display: flex;
            justify-content: space-between;

            .dots {
                display: flex;
                justify-content: space-evenly;
                font-size: var(--font-size-10);
                h4 {
                    color: var(--sidebar-label);
                    margin-right: 8px;
                    font-weight: 700;
                }
            }
        }
    }

    .char-level {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 8px;
        .level {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 43px;
            width: 40px;
            background: url('../assets/sheet/level-badge.webp') no-repeat;
            background-size: 40px 43px;
            z-index: 2;
            font-size: 0;
            padding-top: 2px;
            label {
                color: var(--sidebar-label);
                @include micro;
                line-height: 1.5;
            }
            input {
                font-family: var(--serif);
                font-size: var(--font-size-22);
                font-weight: 400;
                color: var(--text-light);
                line-height: calc(1em + 1px);
                height: 24px;
            }
            label,
            input {
                margin-left: 1px;
                text-align: center;
            }
        }

        .exp-data {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;

            .exp-input {
                height: 18px;
            }
            input {
                color: var(--text-light);
                text-align: right;
                width: 36px;
            }
            .max {
                color: var(--sidebar-label);
                padding-right: 2px;
            }
            input,
            .max {
                font-family: var(--sans-serif);
                font-size: var(--font-size-12);
            }
            .exp-bar {
                position: relative;
                margin-top: 3px;
                margin-left: -8px;
                margin-bottom: 4px;
                display: inline-flex;
                width: 93px;
                height: 5px;
                border: 1px solid rgba(white, 0.1);
                border-radius: 2.5px;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 1;

                .bar {
                    display: inline-flex;
                    height: 3px;
                    background-color: var(--sidebar-title);
                    box-shadow: 0 0 2px var(--sidebar-label);
                }
            }

            .info {
                display: inline-flex;
                justify-content: flex-end;
                a {
                    font-family: var(--sans-serif);
                    font-size: var(--font-size-9);
                    font-weight: 500;
                    color: var(--sidebar-label);
                    text-transform: uppercase;
                    & + a {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}
