// Base inventory stylings
.inventory {
    ol:not(.currency) {
        @include p-reset;
        list-style: none;
        display: flex;

        &:last-child {
            margin-bottom: 42px;
        }
    }

    .item-name {
        display: flex;
        align-items: center;
        font-weight: 500;
        flex: 2;

        h3,
        h4 {
            margin: auto auto auto 0;
            line-height: 12px;
            padding: 2px;
            word-break: break-word;
            cursor: pointer;

            &:hover {
                color: var(--primary);
            }
        }

        span {
            margin: 0 4px;
        }

        .item-image {
            height: 24px;
            width: 24px;
            box-shadow: inset 0 0 0 1px var(--tertiary);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 12px;
            cursor: pointer;
            margin-right: 4px;
        }
    }

    .inventory-list, .item-list {
        list-style-type: none;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;

        & > li:nth-of-type(even) {
            background-color: rgba($alt-color, 0.1);
        }

        .list-row {
            display: flex;
            flex-wrap: wrap;
            font-size: var(--font-size-12);
            justify-content: flex-start;
            width: 100%;

            &:last-child {
                .item-summary {
                    border-bottom: none;
                }
            }
        }

        .temporary-item {
            background-color: #0005ff1d;
        }
    }

    .item-quantity,
    .item-weight,
    .item-controls,
    .item-sell-value {
        @include flex-center;
        border-left: 1px solid var(--alt);
        flex: 0 0 64px;
    }

    .item-sell-value {
        justify-content: flex-end;
        padding-right: 3px;
    }

    .item-quantity {
        justify-content: space-around;

        .item-decrease-quantity,
        .item-increase-quantity {
            @include flex-center;
            font-family: var(--sans-serif-monospace);
            height: 100%;
            text-align: center;
            width: 18px;
        }
    }

    .item-weight {
        flex: 0 0 36px;
        font-weight: 500;
    }

    .item-controls {
        flex: 0 0 70px;
        justify-content: flex-end;
        gap: 3px;
        padding-right: 4px;
    }

    .item-summary {
        flex: 100%;
        padding: 4px;
        border-top: 1px solid var(--alt);
        border-bottom: 1px solid var(--alt);
        background: var(--bg);

        .item-buttons {
            grid-area: btn;
            display: flex;
            flex-wrap: wrap;
            margin-right: 2px;
            button {
                margin: 0;
                border: none;
                cursor: pointer;
                @include micro;
                padding: 5px 4px;
                color: white;
                width: 70px;
                @include button;
                margin-top: 4px;
                background: var(--primary);
                border-radius: 2px;
                flex: 1;

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px white;
                }
            }

            .weapon {
                &_attack {
                    background: var(--primary);
                }
                &_attack2,
                &_attack3 {
                    color: rgba(black, 0.75);
                    background: var(--tertiary);
                    flex: 0 50%;
                    margin-top: 0;
                }
                &_attack2 {
                    border-radius: 0 0 0 2px;
                }
                &_attack3 {
                    border-radius: 0 0 2px 0;
                }
            }
        }
    }

    .inventory-header {
        font-family: var(--sans-serif);
        font-size: var(--font-size-10);
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .05em;
        text-rendering: optimizeLegibility;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background-color: var(--alt);
        padding: 4px 0;
        color: white;

        h3 {
            font-size: var(--font-size-14);
            text-transform: capitalize;
            text-shadow: 0 0 2px rgba(black, 0.75);
            margin: 2px;
            margin-left: 4px;
            cursor: default;
            &:hover {
                color: white;
            }
        }

        .item-name {
            padding-left: 4px;
        }

        .item-sell-value,
        .item-quantity,
        .item-weight {
            @include flex-center;
        }

        .item-invested-total {
            flex: none;
            margin-right: 1em;
        }
    }

    .list-row {
        .item-controls {
            color: var(--body);
            .item-control {
                &.item-toggle-invest, &.item-carry-type {
                    &.active {
                        color: var(--secondary);
                    }
                }

                &.item-carry-type {
                    color: rgba(black, 0.5);
                    text-align: center;
                    min-width: 13px;
                }

                &.item-toggle-invest {
                    color: rgba(black, 0.5);
                    font-size: var(--font-size-11);
                }
            }
        }
    }

    .container-capacity {
        @include micro;
        position: relative;
        background-color: rgba(black, 0.75);
        box-shadow: inset 0 0 4px black;
        color: white;
        display: flex;
        width: 100%;
        .container-capacity-bar {
            background-color: var(--secondary);
            border-radius: 0 2px 2px 0;
            box-shadow: inset 0 0 0 1px rgba(black, 0.5),
                inset 0 0 0 2px rgba(white, 0.1);
            padding: 6px 0;
        }
        .container-capacity-label {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            padding: 2px;
        }
        &.over-limit .container-capacity-bar {
            background-color: var(--primary);
        }
    }

    .container-held-items {
        margin-left: 10px;

        li:nth-of-type(even) {
            background-color: rgba($alt-color, 0.1);
        }

        li:first-of-type::before {
            height: 50%;
            top: 0;
        }

        li:last-of-type::after {
            border: none;
        }

        .item {
            position: relative;

            &::before,
            &::after {
                position: absolute;
                border-left: 1px solid var(--alt);
                top: 0;
                height: 50%;
                left: -5px;
                width: 5px;
                content: '';
            }

            &::before {
                border-bottom: 1px solid var(--alt);
                top: 0;
            }

            &::after {
                top: 50%;
            }

            .item-summary {
                border-left: 1px solid var(--alt);
            }
        }
    }
}
