#tinymce {
    @import "fonts", "colors", "mixins", "legacy", "globals";
    --space-s: 0.25em;
    --space-m: 0.5em;
    --space-l: 1em;
    --space-xl: 1.5em;
    --space-2xl: 2em;
    --radius: 3px;

    @include tinymce-system-specific;

    &.pf2ettw {

        font-family: var(--sans-serif);
        h1, h2, h3, h4 {
            font-weight: 600;
        }
        p {
            font-weight: 500;
        }

        @include journal-entries-pf2ettw;
        @include tinymce-system-specific;
    }
}
