<div class="pc pc_gender">
    <label class="details-label" for="{{options.id}}-pc-gender">
        {{localize 'pf2ettw.GenderPronoun'}}
    </label>
    <input
        class="details-input"
        title="{{localize 'pf2ettw.GenderPronounTitle'}}"
        id="{{options.id}}-pc-gender"
        name="data.details.gender.value"
        type="text"
        value="{{data.details.gender.value}}"
        data-dtype="String"
    />
</div>
<div class="pc pc_age">
    <label class="details-label" for="{{options.id}}-pc-age">{{localize "pf2ettw.Age"}}</label>
    <input
        class="details-input"
        title="{{localize 'pf2ettw.AgeTitle'}}"
        id="{{options.id}}-pc-age"
        name="data.details.age.value"
        type="text"
        value="{{data.details.age.value}}"
        data-dtype="String"
    />
</div>
<div class="pc pc_height">
    <label class="details-label" for="{{options.id}}-pc-height">{{localize "pf2ettw.Height"}}</label>
    <input
        class="details-input"
        title="{{localize 'pf2ettw.HeightTitle'}}"
        id="{{options.id}}-pc-height"
        name="data.details.height.value"
        type="text"
        value="{{data.details.height.value}}"
        data-dtype="String"
    />
</div>
<div class="pc pc_weight">
    <label class="details-label" for="{{options.id}}-pc-weight">{{localize "pf2ettw.Weight"}}</label>
    <input
        class="details-input"
        title="{{localize 'pf2ettw.WeightTitle'}}"
        id="{{options.id}}-pc-weight"
        name="data.details.weight.value"
        type="text"
        value="{{data.details.weight.value}}"
        data-dtype="String"
    />
</div>
<div class="pc pc_ethnicity">
    <label class="details-label" for="{{options.id}}-pc-ethnicity">{{localize "pf2ettw.Ethnicity"}}</label>
    <input
        class="details-input"
        id="{{options.id}}-pc-ethnicity"
        type="text"
        name="data.details.ethnicity.value"
        data-dtype="String"
        value="{{data.details.ethnicity.value}}"
    />
</div>
<div class="pc pc_nationality">
    <label class="details-label" for="{{options.id}}-pc-nationality">
        {{localize 'pf2ettw.Nationality'}}
    </label>
    <input
        class="details-input"
        id="{{options.id}}-pc-nationality"
        type="text"
        name="data.details.nationality.value"
        data-dtype="String"
        value="{{data.details.nationality.value}}"
    />
</div>
