{{#if feat.grants}}
    <ol class="nested-items">
        {{#each feat.grants as |grant|}}
            <li data-item-id="{{grant.feat.id}}">
                <div class="item-name rollable">
                    <div class="feat-slot-title"></div>
                    <div class="item-image">
                        <img class="item-icon" src="{{grant.feat.img}}" alt="{{grant.feat.name}}">
                    </div>
                    <h4>{{grant.feat.name}}</h4>
                </div>
                <div class="item-controls">
                    {{#if @root.editable}}
                        <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                    {{/if}}
                </div>
                {{> "systems/pf2ettw/templates/actors/character/partials/granted-feat.html" feat=grant}}
            </li>
        {{/each}}
    </ol>
{{/if}}