<header class="char-header">
    <div class="char-details">
        <h1 class="char-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "pf2ettw.CharacterNamePlaceholder"}}" spellcheck="false" />
        </h1>
        <div class="dotcontainer">
            <div class="dots">
                <h4>{{localize "pf2ettw.HeroPointsLabel"}}</h4>
                <span class="adjust-stat" data-property="data.resources.heroPoints.value" value="{{data.resources.heroPoints.value}}" title="{{localize data.resources.heroPoints.hover}}">
                    {{{data.resources.heroPoints.icon}}}
                </span>
            </div>
            {{#if data.attributes.vampireDC.rank}}
                <div class="dots thirst" title="{{localize pf2ettw.condition.thirst.summary}}">
                    <h4>{{localize "pf2ettw.condition.thirst.name"}}</h4>
                    <span class="proficiency-rank pf-value">{{{data.attributes.thirst.icon}}}</span>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="char-level">
        <div class="level">
            <label>
                {{localize "pf2ettw.LevelLabel"}}
            </label>
            <input name="data.details.level.value" type="number" value="{{data.details.level.value}}" placeholder="1" size="2" />
        </div>
        <div class="exp-data">
            <div class="exp-input">
                <input
                    name="data.details.xp.value"
                    type="text"
                    value="{{data.details.xp.value}}"
                    data-dtype="Number"
                    data-allow-delta
                    placeholder="0"
                    size="4"
                />
                <span class="max" data-wpad="14">
                    /
                </span>
                <input
                    name="data.details.xp.max"
                    type="text"
                    value="{{data.details.xp.max}}"
                    data-dtype="Number"
                    placeholder="1000"
                    size="4"
                />
            </div>
            <div class="exp-bar">
                <span
                    class="bar"
                    style="width: {{data.details.xp.pct}}%"
                ></span>
            </div>
        </div>
    </div>
</header>
