<div class="hover-content" id="{{@root.options.id}}-{{name}}-modifiers">
    <div class="sidebar_title">
        <h2>{{localize title}}</h2>
    </div>
    <ul class="modifier-list">
        {{#each _modifiers as |modifier|}}
            {{#if (or modifier.enabled (not modifier.hideIfDisabled))}}
                <li class="item {{#unless modifier.enabled}}no-effect{{/unless}}">
                    <span class="tag-legacy">
                        {{localize (add "pf2ettw.ModifierType." modifier.type)}}
                    </span>
                    <span class="label">{{modifier.label}}</span>
                    <span class="data">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                    {{#if modifier.custom}}
                        <i class="far fa-times-circle remove-modifier" data-stat="{{../name}}" data-slug="{{modifier.slug}}" title="{{localize "pf2ettw.RemoveModifierTitle"}}"></i>
                    {{/if}}
                </li>
            {{/if}}
        {{/each}}
        <li class="item add-modifier">
            <div class="add-modifier-value">
                <input type="number" placeholder="+1">
                <i class="fas fa-plus-circle"></i>
                <i class="fas fa-minus-circle"></i>
            </div>

            <input type="text" class="add-modifier-name" placeholder={{localize "pf2ettw.ModifierNamePlaceholder"}}>

            <select class="tag-legacy add-modifier-type">
                <option value="">{{localize "pf2ettw.ModifierTypeTitle"}}</option>
                <option value="ability">{{localize "pf2ettw.ModifierType.ability"}}</option>
                <option value="proficiency">{{localize "pf2ettw.ModifierType.proficiency"}}</option>
                <option value="item">{{localize "pf2ettw.ModifierType.item"}}</option>
                <option value="status">{{localize "pf2ettw.ModifierType.status"}}</option>
                <option value="circumstance">{{localize "pf2ettw.ModifierType.circumstance"}}</option>
                {{#if abpEnabled}}<option value="potency">{{localize "pf2ettw.ModifierType.potency"}}</option>{{/if}}
                <option value="untyped">{{localize "pf2ettw.ModifierType.untyped"}}</option>
            </select>

            <button type="button" class="add-modifier-submit" data-stat="{{name}}">{{localize "pf2ettw.AddModifierTitle"}}</button>
        </li>
    </ul>
</div>
