{{#if (not excludeUntrained)}}<option value="0" {{#if (eq proflevel 0)}}selected{{/if}}>{{localize "pf2ettw.ProficiencyLevel0"}}</option>{{/if}}
<option value="1" {{#if (eq proflevel 1)}}selected{{/if}}>{{localize "pf2ettw.ProficiencyLevel1"}}</option>
<option value="2" {{#if (eq proflevel 2)}}selected{{/if}}>{{localize "pf2ettw.ProficiencyLevel2"}}</option>
<option value="3" {{#if (eq proflevel 3)}}selected{{/if}}>{{localize "pf2ettw.ProficiencyLevel3"}}</option>
<option value="4" {{#if (eq proflevel 4)}}selected{{/if}}>{{localize "pf2ettw.ProficiencyLevel4"}}</option>
