{{#if data.attributes.classDC.rank}}
    <div class="sidebar_title">
        <h2>{{{localize "pf2ettw.ClassDCHeader"}}}</h2>
        <button type="button" class="modifiers_button hover" data-tooltip-content="#{{options.id}}-class-modifiers"><i class="fas fa-eye"></i> {{localize "pf2ettw.ModifiersTitle"}}</button>
    </div>
    <div class="roll-data difficulty-checks">
        <h3>{{numberFormat data.attributes.classDC.value decimals=0 sign=false}}</h3>
        <div class="classdc-rank" value="{{data.attributes.classDC.rank}}">
            <span class="pf-rank" data-property="data.attributes.classDC.rank" value="{{data.attributes.classDC.rank}}">{{data.attributes.classDC.rankName}}</span>
        </div>
    </div>
    {{#with data.attributes.classDC}}
    {{> systems/pf2ettw/templates/actors/character/partials/modifiers-tooltip.html title='pf2ettw.ClassDCHeader'}}
    {{/with}}
{{/if}}
