<div class="sidebar_title">
    <h2>{{localize "pf2ettw.HitPointsHeader"}}</h2>
    <button type="button" class="modifiers_button hover" data-tooltip-content="#{{options.id}}-hp-modifiers">
        <i class="fas fa-eye"></i> {{localize "pf2ettw.ModifiersTitle"}}
    </button>
</div>
<div class="hitpoints">
    <div class="hp-big">
        <div class="container temp-hp">
            <label for="{{options.id}}-pc-hp-temp" class="sidebar_label">{{localize "pf2ettw.TempHitPointsShortLabel"}}</label>
            <div class="data-value" title="{{localize "pf2ettw.TempHPTitle"}}">
                <input name="data.attributes.hp.temp" id="{{options.id}}-pc-hp-temp" type="number" value="{{data.attributes.hp.temp}}" placeholder="0" />
            </div>
        </div>
        <div class="container current-hp">
            <label for="{{options.id}}-pc-hp" class="sidebar_label">{{localize "pf2ettw.CurrentHitPointsShortLabel"}}</label>
            <div class="data-value" title="{{localize "pf2ettw.CurrentHPTitle"}}">
                <input name="data.attributes.hp.value" id="{{options.id}}-pc-hp" type="number" value="{{data.attributes.hp.value}}" placeholder="10" />
            </div>
        </div>
        <div class="container max-hp">
            <span class="sidebar_label">{{localize "pf2ettw.MaxHitPointsShortLabel"}}</span>
            <div class="data-value">
                <h2>{{data.attributes.hp.max}}</h2>
            </div>
        </div>
    </div>
    <div class="hp-small">
        <a class="rollable roll-icon{{#if (not data.attributes.dying.value)}} disabled{{/if}}" data-action="recovery-check" title="{{localize "pf2ettw.Check.Specific.Recovery"}}">
            {{> systems/pf2ettw/templates/actors/character/icons/d20.html}}
        </a>
        <a class="dots dying" title="{{localize "pf2ettw.condition.dying.summary"}}">
            <span class="sidebar_label">{{localize "pf2ettw.condition.dying.name"}}</span>
            {{> systems/pf2ettw/templates/actors/partials/dying-pips.html}}
        </a>
        <a class="dots wounded" title="{{localize "pf2ettw.condition.wounded.summary"}}">
            <span class="sidebar_label">{{localize "pf2ettw.condition.wounded.name"}}</span>
            <span class="pips">
                {{#times data.attributes.wounded.value}}<i class="fas fa-dot-circle"></i>{{/times}}
                {{#times dying.remainingWounded}}<i class="far fa-circle"></i>{{/times}}
            </span>
        </a>
        <a class="roll-icon rest" data-action="rest" title="{{localize "pf2ettw.Actor.Character.Rest.Label"}}">
            <i class="fas fa-bed"></i>
        </a>
    </div>
</div>
{{#with data.attributes.hp}}
{{> systems/pf2ettw/templates/actors/character/partials/modifiers-tooltip.html title="pf2ettw.HitPointsHeader" }}
{{/with}}
