<div class="sidebar_title">
    <h2>{{localize "pf2ettw.InitiativeLabel"}}</h2>
    <button type="button" class="modifiers_button hover" data-tooltip-content="#{{options.id}}-initiative-modifiers">
        <i class="fas fa-eye"></i> {{localize 'pf2ettw.ModifiersTitle'}}
    </button>
</div>
<div class="roll-data initiative-sidebar" data-attribute="initiative">
    <a class="roll-icon roll-init">
        {{> "systems/pf2ettw/templates/actors/character/icons/d20.html"}}
    </a>
    <h3>{{numberFormat data.attributes.initiative.totalModifier decimals=0 sign=true}}</h3>
    <h4 class="initiative-select">
        <select name="data.attributes.initiative.ability">
            {{#select data.attributes.initiative.ability}}
                <option value="perception">{{localize 'pf2ettw.PerceptionLabel'}}</option>
                {{#each skills as |label skill|}}
                    <option value="{{skill}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </h4>
</div>
{{#with data.attributes.initiative}}
    {{> systems/pf2ettw/templates/actors/character/partials/modifiers-tooltip.html title=label }}
{{/with}}
