<div class="sidebar_title">
    <h2>{{localize "pf2ettw.SavesHeader"}}</h2>
</div>
<ul class="sidebar-saves">
    {{#each data.saves as |save sid|}}
        <li class="roll-data" data-save="{{sid}}">
            <h2 class="sidebar_label">{{localize save.label}}</h2>

            <div class="save-prof button-group skill-container">
                <select class="save-proficiency pf-rank adjust-stat-select{{#if rank.immutable}} readonly{{/if}}" data-property="data.saves.{{sid}}.rank" value="{{save.rank}}">
                    {{> systems/pf2ettw/templates/actors/character/partials/proficiencylevels-dropdown.html proflevel=save.rank}}
                </select>
            </div>
            <div class="save-ability adjust-stat-save-ability" data-property="data.saves" value="{{save.ability}}">
                <h4><span>{{save.ability}}</span></h4>
            </div>
            <div class="save-roll">
                <a class="roll-icon save-name">
                    {{> systems/pf2ettw/templates/actors/character/icons/d20.html}}
                </a>
                <h3>{{numberFormat save.totalModifier decimals=0 sign=true}}</h3>
            </div>
            <button type="button" class="modifiers_button hover" data-tooltip-content="#{{@root.options.id}}-{{save.slug}}-modifiers">
                {{localize "pf2ettw.ModifiersTitle"}}
            </button>
            {{#with save}}
                {{> systems/pf2ettw/templates/actors/character/partials/modifiers-tooltip.html title=label }}
            {{/with}}
        </li>
    {{/each}}
</ul>
