{{#if data.attributes.vampireDC.rank}}
    <div class="sidebar_title">
        <h2>{{{localize "pf2ettw.VampireDCHeader"}}}</h2>
        <button type="button" class="modifiers_button hover" data-tooltip-content="#{{options.id}}-vampire-modifiers"><i class="fas fa-eye"></i> {{localize "pf2ettw.ModifiersTitle"}}</button>
    </div>
    <div class="roll-data difficulty-checks">
        <h3>{{numberFormat data.attributes.vampireDC.value decimals=0 sign=false}}</h3>
        <div class="vampiredc-ability adjust-vampiredc-save-ability" data-property="data.attributes.vampireDC.ability" value="{{data.attributes.vampireDC.ability}}">
            <h4><span>{{data.attributes.vampireDC.ability}}</span></h4>
        </div>
        <div class="vampiredc-rank" value="{{data.attributes.vampireDC.rank}}">
            <span class="pf-rank" data-property="data.attributes.vampireDC.rank" value="{{data.attributes.vampireDC.rank}}">{{data.attributes.vampireDC.rankName}}</span>
        </div>
    </div>
    {{#with data.attributes.vampireDC}}
    {{> systems/pf2ettw/templates/actors/character/partials/modifiers-tooltip.html title='pf2ettw.VampireDCHeader'}}
    {{/with}}
{{/if}}
