<div class="tab inventory" data-group="primary" data-tab="inventory">
    <ol class="inventory-list directory-list inventory-pane">
        {{#each inventory.sections as |section|}}
            <div class="inventory-header">
                <h3 class="item-name">{{section.label}}</h3>
                {{#if (eq sid "treasure")}}
                    <span class="item-sell-value">{{localize "pf2ettw.ValueLabel"}}</span>
                {{/if}}
                <span class="item-quantity">{{localize "pf2ettw.QuantityLabel"}}</span>
                <span class="item-weight">{{localize "pf2ettw.BulkShortLabel"}}</span>
                {{#if @root.editable}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "pf2ettw.CreateItemTitle"}}" data-type="{{section.type}}"><i class="fas fa-plus"></i></a>
                        <a class="item-control inventory-browse" title="{{localize "pf2ettw.OpenInventoryBrowser"}}" data-filter="itemtypes-{{section.type}}"><i class="fas fa-search"></i></a>
                    </div>
                {{/if}}
            </div>
            <ol class="item-list">
                {{#each section.items}}
                    {{> "systems/pf2ettw/templates/actors/partials/item-line.html" this=this owner=@root.owner editable=@root.editable user=@root.user}}
                {{/each}}
            </ol>
        {{/each}}
    </ol>
</div>
