<div class="tab biography" data-group="primary" data-tab="description">
    <section class="biography-details">
        <div class="biography-content">
            <label class="details-label" >
                {{localize "pf2ettw.vehicle.DescriptionHeading"}}
            </label>
            <span title="{{localize 'pf2ettw.vehicle.DescriptionHeading'}}" class="biography-content" style="min-height: 300px;" >
                {{editor
                    content=data.details.description
                    target="data.details.description"
                    button=true owner=owner editable=editable}}
            </span>
        </div>
    </section>
</div>
