<div class="chat-damage-buttons{{#if showTripleDamage}} includes-fumble{{/if}}">
    <button type="button" class="full-damage" title="{{localize "pf2ettw.DamageButton.Full"}}">
        <i class="fas fa-heart-broken"></i>
        <span class="label">{{localize "pf2ettw.DamageButton.FullShort"}}</span>
    </button>
    <button type="button" class="half-damage" title="{{localize "pf2ettw.DamageButton.Half"}}">
        <i class="fas fa-heart-broken"></i>
        <span class="transparent-half"></span>
        <span class="label">{{localize "pf2ettw.DamageButton.HalfShort"}}</span>
    </button>
    <button type="button" class="double-damage" title="{{localize "pf2ettw.DamageButton.Double"}}">
        <img src="systems/pf2ettw/icons/damage/double.svg" />
        <span class="label">{{localize "pf2ettw.DamageButton.DoubleShort"}}</span>
    </button>
    {{#if showTripleDamage}}
        <button type="button" class="triple-damage" title="{{localize "pf2ettw.DamageButton.Triple"}}">
            <img src="systems/pf2ettw/icons/damage/triple.svg" />
            <span class="label">{{localize "pf2ettw.DamageButton.TripleShort"}}</span>
        </button>
    {{/if}}
    <button type="button" class="shield-block dice-total-shield-btn" title="{{localize "pf2ettw.DamageButton.ShieldBlock"}}">
        <i class="fas fa-shield-alt"></i>
        <span class="label">{{localize "pf2ettw.DamageButton.ShieldBlockShort"}}</span>
    </button>
    <button type="button" class="heal-damage" title="{{localize "pf2ettw.DamageButton.Healing"}}">
        <i class="fas fa-heart"></i>
        <span class="plus">+</span>
        <span class="label">{{localize "pf2ettw.DamageButton.HealingShort"}}</span>
    </button>
</div>
<div class="hover-content select-shield">
    <div class="sidebar_title">
        <h2>{{localize "pf2ettw.Actions.ShieldBlock.SelectAShield"}}</h2>
    </div>
    <ul class="shield-options">
        <template>
            <li class="item">
                <input class="data" name="shield-id" type="radio" value="" />
                <span class="label"></span>
                <span class="tag"></span>
            </li>
        </template>
    </ul>
</div>
