<form class="window flexcol" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="trait-list">
        <table class="pf2-table">
            <tr>
                <th>{{localize "pf2ettw.Sense.Label"}}</th>
                <th>{{localize "pf2ettw.Sense.Acuity.Label"}}</th>
                <th>{{localize "pf2ettw.Sense.RangeLabel"}}</th>
            </tr>
            {{#each choices as |choice key|}}
                <tr>
                    <td class="list">
                        <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.selected}} {{choice.disabled}}>
                        <label class="trait-label" style="margin-left: 5px; margin-right: 5px;">{{choice.label}}</label>
                    </td>
                    <td>
                        {{#unless (or (eq key "lowLightVision") (eq key "greaterDarkvision") (eq key "darkvision"))}}
                            <select name="{{key}}" {{choice.disabled}}>
                                {{#each ../senseAcuity as |acuity k|}}
                                    <option value={{k}} {{#if (eq k choice.acuity)}} selected {{/if}}>{{localize acuity}}</option>
                                {{/each}}
                            </select>
                        {{/unless}}
                    </td>
                    <td>
                        {{#unless (or (eq key "lowLightVision") (eq key "greaterDarkvision") (eq key "darkvision"))}}
                            <input type="number" id="input_value_{{key}}" name="{{key}}" value="{{choice.value}}" placeholder="{{pf2ettw.Sense.NoRangeLimit}}" {{choice.disabled}} />
                        {{/unless}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    <button class="trait-footer" type="submit" name="submit" value="1"><i class="far fa-save"></i>{{localize "pf2ettw.UpdateActorLabel"}}</button>
</form>
