/* ----------------------------------------- */
/* Item Card Structure                       */
/* ----------------------------------------- */

.pf2ettw.chat-card {
    font-style: normal;

    .card-header {
        padding: 2px 0;
        border-top: 2px groove #fff;
        border-bottom: 2px groove #fff;
        align-items: center;
        min-height: 36px;

        img {
            flex: 0 0 36px;
            margin-right: 5px;
            height: 36px;
            width: 36px;
        }

        h3 {
            flex: 1;
            margin: 0;
        }

        h4 {
            flex: 0;
            margin: 0 5px 0 0;
            white-space: nowrap;
        }
    }

    .tags {
        margin: 3px 0 0;
    }

    .card-content {
        margin: 4px 0;

        p {
            margin: 4px 0;
        }
    }

    .card-buttons {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        margin: 5px 0;

        span {
            display: block;
            line-height: 28px;
            text-align: center;
            border: 1px solid var(--secondary-background);
        }

        button {
            margin: 2px 0;
        }

        .owner-buttons {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
        }

        .spell-attack-buttons, .spell-button {
            display: flex;
            flex-direction: row;

            * {
                flex-grow: 1;
                flex-basis: 0;
            }

            :first-child {
                flex-grow: 2;
            }
        }

        // Conditionally added based on visibility
        .hidden-to-others {
            background: var(--visibility-gm-bg);
        }
    }

    .card-footer {
        padding: 3px 0 0;
        border-top: 2px groove #fff;

        span {
            border-right: 2px groove #fff;
            padding: 0 5px 0 0;
            font-size: var(--font-size-12);

            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }

    .card-buttons-multiattack {
        display: grid;
        grid-template-columns: auto 40px 40px;
        grid-column-gap: 4px;
    }

    .card-buttons-two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4px;
    }
}
