.roll-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 11px;
    h3 {
        font-size: var(--font-size-18);
        font-weight: initial;
        color: var(--tertiary-light);
        white-space: nowrap;
    }
    .initiative-select {
        width: 129px;
    }

    .vampiredc-ability {
        border-radius: 2px;
        border: 1px solid rgba(black, 0.5);
        padding: 4px;
        cursor: pointer;
        margin-top: 2px;
        background-color: #{$rank-untrained};
        box-shadow: inset 0 0 0 1px rgba(white, 0.1);

        h4 {
            font-weight: 600;
            padding-top: 1px;
            text-transform: uppercase;
        }
    }

    .vampiredc-ability[value="str"] { background: #{$ability-str}; color: #{$ability-text-str}; }
    .vampiredc-ability[value="dex"] { background: #{$ability-dex}; color: #{$ability-text-dex}; }
    .vampiredc-ability[value="con"] { background: #{$ability-con}; color: #{$ability-text-con}; }
    .vampiredc-ability[value="int"] { background: #{$ability-int}; color: #{$ability-text-int}; }
    .vampiredc-ability[value="wis"] { background: #{$ability-wis}; color: #{$ability-text-wis}; }
    .vampiredc-ability[value="cha"] { background: #{$ability-cha}; color: #{$ability-text-cha}; }
}

.perception-sidebar, .initiative-sidebar {
    gap: 5px;
    h3 {
        flex-grow: 1;
    }
}
