ul.sidebar-saves {
    @include p-reset;
    display: flex;

    .roll-data {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ffefbd30;

        &:first-child {
            border-left: none;
        }

        .sidebar_label {
            font-weight: initial;
            text-transform: capitalize;
            font-size: var(--font-size-12);
            border: none;
            margin-bottom: 2px;
        }

        .save-roll {
            @include flex-center;
            margin: 4px 0;

            h3 {
                margin: 0;
                margin-left: 2px;
            }
        }

        .save-ability {
            border-radius: 2px;
            border: 1px solid rgba(black, 0.5);
            padding: 4px;
            cursor: pointer;
            margin-top: 2px;
            background-color: #{$rank-untrained};
            box-shadow: inset 0 0 0 1px rgba(white, 0.1);

            h4 {
                font-weight: 600;
                padding-top: 1px;
                text-transform: uppercase;
            }
        }

        .save-ability[value="str"] { background: #{$ability-str}; color: #{$ability-text-str}; }
        .save-ability[value="dex"] { background: #{$ability-dex}; color: #{$ability-text-dex}; }
        .save-ability[value="con"] { background: #{$ability-con}; color: #{$ability-text-con}; }
        .save-ability[value="int"] { background: #{$ability-int}; color: #{$ability-text-int}; }
        .save-ability[value="wis"] { background: #{$ability-wis}; color: #{$ability-text-wis}; }
        .save-ability[value="cha"] { background: #{$ability-cha}; color: #{$ability-text-cha}; }

        .modifiers_button {
            padding: 2px;
            border-radius: 2px;
            width: initial;
        }
    }
}
