<form autocomplete="off" onsubmit="event.preventDefault();">
    <label>{{ localize "pf2ettw.ScrollWandPopup.label" }}</label>
    <div class="form-group">
        <p><label>{{ localize "pf2ettw.ScrollWandPopup.spellLevelLabel" }}</label>
        <select name="level" data-dtype="Number">
            {{#each validLevels as |level|}}
            <option value={{level}}>{{level}}</option>
            {{/each}}
        </select></p>
    </div>
    <div class="form-group">
        <p><label>{{ localize "pf2ettw.ScrollWandPopup.itemTypeLabel" }}</label>
        <select name="itemType" data-dtype="String">
            <option value="scroll">{{ localize "pf2ettw.ScrollWandPopup.scroll" }}</option>
            <option value="wand">{{ localize "pf2ettw.ScrollWandPopup.wand" }}</option>
        </select></p>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>{{ localize "pf2ettw.ScrollWandPopup.submit" }}</button>
</form>