<section>
    <h1>{{date}} ({{time}})</h1>
    {{#if user.isGM}}
        <div class="input-grid">
            <button type="button" data-advance-mode="{{sign}}" data-advance-time="6"><span class="sign">{{sign}}</span>{{localize "pf2ettw.WorldClock.Button.AddOneRound"}}</button>
            <button type="button" data-advance-mode="{{sign}}" data-advance-time="60"><span class="sign">{{sign}}</span>{{localize "pf2ettw.WorldClock.Button.AddOneMinute"}}</button>
            <button type="button" data-advance-mode="{{sign}}" data-advance-time="600"><span class="sign">{{sign}}</span>{{localize "pf2ettw.WorldClock.Button.AddTenMinutes"}}</button>
            <button type="button" data-advance-mode="{{sign}}" data-advance-time="3600"><span class="sign">{{sign}}</span>{{localize "pf2ettw.WorldClock.Button.AddOneHour"}}</button>
            <button type="button" data-advance-mode="{{sign}}" data-advance-time="86400"><span class="sign">{{sign}}</span>{{localize "pf2ettw.WorldClock.Button.AddOneDay"}}</button>
            <button type="button" data-advance-mode="{{sign}}" data-advance-time="604800"><span class="sign">{{sign}}</span>{{localize "pf2ettw.WorldClock.Button.AddOneWeek"}}</button>
            <section class="time-of-day">
                <button type="button" title="{{localize "pf2ettw.WorldClock.Button.TimeOfDay.Advance.Dawn"}}" data-advance-mode="{{sign}}" data-advance-time="dawn">
                    <span class="sign">{{sign}}</span><img src="systems/pf2ettw/icons/mdi/sunrise.svg" />
                </button>
                <button type="button" title="{{localize "pf2ettw.WorldClock.Button.TimeOfDay.Advance.Noon"}}" data-advance-mode="{{sign}}" data-advance-time="noon">
                    <span class="sign">{{sign}}</span><img src="systems/pf2ettw/icons/mdi/sunny.svg" />
                </button>
                <button type="button" title="{{localize "pf2ettw.WorldClock.Button.TimeOfDay.Advance.Dusk"}}" data-advance-mode="{{sign}}" data-advance-time="dusk">
                    <span class="sign">{{sign}}</span><img src="systems/pf2ettw/icons/mdi/sunset.svg" />
                </button>
                <button type="button" title="{{localize "pf2ettw.WorldClock.Button.TimeOfDay.Advance.Midnight"}}" data-advance-mode="{{sign}}" data-advance-time="midnight">
                    <span class="sign">{{sign}}</span><img class="midnight" src="systems/pf2ettw/icons/mdi/night.svg" />
                </button>
            </section>
        </div>
        <hr>
        <div class="input-grid">
            <input name="diff-value" type="number" required="required" placeholder="{{localize "pf2ettw.WorldClock.Placeholder"}}">
            <select name="diff-unit">
                <option value="1">{{localize "pf2ettw.Time.Unit.Seconds"}}</option>
                <option value="6">{{localize "pf2ettw.Time.Unit.Rounds"}}</option>
                <option value="60">{{localize "pf2ettw.Time.Unit.Minutes"}}</option>
                <option value="3600">{{localize "pf2ettw.Time.Unit.Hours"}}</option>
                <option value="86400">{{localize "pf2ettw.Time.Unit.Days"}}</option>
                <option value="604800">{{localize "pf2ettw.Time.Unit.Weeks"}}</option>
            </select>
            <button type="button" name="advance">{{#if (eq sign "+")}}{{localize "pf2ettw.WorldClock.Button.Advance"}}{{else}}{{localize "pf2ettw.WorldClock.Button.Retract"}}{{/if}}</button>
        </div>
    {{/if}}
</section>
