<form autocomplete="off" onsubmit="event.preventDefault();">
    <label>{{#if split}}{{ localize "pf2ettw.loot.SplitItemMessage" }}{{else}}{{ localize "pf2ettw.loot.MoveLootMessage" }}{{/if}}</label>
    <div class="form-group">
      <label>{{ localize "pf2ettw.loot.Quantity" }}:</label>
      <input type="number" name="quantity" value="{{maxQuantity}}" min="1" max="{{maxQuantity}}" data-dtype="Number"/>
    </div>
    <div class="form-group">
      {{#if lockStack}}
        {{#if newStack}}
          <input type="hidden" name="newStack" value="{{newStack}}" data-dtype="Boolean" checked/>
        {{else}}
        <input type="hidden" name="newStack" value="{{newStack}}" data-dtype="Boolean"/>
        {{/if}}
      {{else}}
        <label>{{localize "pf2ettw.loot.Stack"}}</label>
        <input type="checkbox" name="newStack" value="{{newStack}}" />
      {{/if}}
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>{{#if split}}{{ localize "pf2ettw.loot.SplitItems" }}{{else}}{{ localize "pf2ettw.loot.MoveLoot" }}{{/if}}</button>
</form>
