<p>
  {{localize 'pf2ettw.SETTINGS.WorldClock.ResetWorldTime.Confirm.Question'}}
  <ul>
    <li>{{localize 'pf2ettw.SETTINGS.WorldClock.ResetWorldTime.Confirm.Warning1'}}</li>
    <li>{{localize 'pf2ettw.SETTINGS.WorldClock.ResetWorldTime.Confirm.Warning2'}}</li>
  </ul>
</p>
