<section class="summary">
    <div>{{localize "pf2ettw.Roll.Type"}}: <input disabled value="{{context.type}}"></div>
</section>
<section class="roll-options">
    <h3>{{localize "pf2ettw.ChatRollDetails.RollOptions"}}</h3>
    <ul>
        {{#each rollOptions}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</section>
<section class="modifiers">
    <h3>{{localize "pf2ettw.ModifiersTitle"}}</h3>
    <div class="modifier-list">
        {{#unless modifiers}}
            <div class="empty">
                {{localize "pf2ettw.ChatRollDetails.ModifiersEmpty"}}
            </div>
        {{/unless}}
        {{#each modifiers as |m|}}
            {{log m}}
            <div class="modifier {{disabled (not m.enabled)}}">
                <h4>{{m.label}} <span class="slug">({{m.slug}})</span></h4>
                <div>
                    <span>{{m.type}} {{numberFormat m.modifier sign=true}}</span>
                    <span>{{m.ability}}</span>
                </div>
            </div>
        {{/each}}
    </div>
</section>
