<form class="check-modifiers-content" autocomplete="off" spellcheck="off">
    {{#if substitutions}}
        <div class="dialog-row header">
            <span class="mod">Substitution</span>
            <span class="type">Roll</span>
            <span class="exclude">Utilize?</span>
        </div>
        <div class="substitutions">
            {{#each substitutions as |sub idx|}}
                <div class="dialog-row{{#if sub.ignored}} disabled{{/if}}">
                    <span class="mod">{{sub.label}}</span>
                    <span class="type">{{sub.value}}</span>
                    <label class="exclude toggle">
                        <input type="checkbox" id="{{@root.appId}}-sub-{{idx}}" data-sub-index="{{idx}}" {{checked (not sub.ignored)}} />
                        <label for="{{@root.appId}}-sub-{{idx}}"></label>
                    </label>
                </div>
            {{/each}}
        </div>
    {{/if}}
    <hr />
    <div class="dialog-row header">
        <span class="type">{{localize "pf2ettw.Roll.Type"}}</span>
        <span class="mod">{{localize "pf2ettw.Roll.Modifier"}}</span>
        <span class="exclude"></span>
    </div>
    <div class="modifier-container">
        {{#each modifiers as |modifier idx|}}
            <div class="dialog-row{{#unless modifier.enabled}} disabled{{/unless}}">
                <span class="type tag">{{localize (concat "pf2ettw.ModifierType."  modifier.type)}}</span>
                <span class="mod">{{modifier.label}}</span>
                <span class="value">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                <label class="exclude toggle">
                    <input type="checkbox" id="{{@root.appId}}-modifier-{{idx}}" data-modifier-index="{{idx}}" {{checked (not modifier.ignored)}} />
                    <label for="{{@root.appId}}-modifier-{{idx}}"></label>
                </label>
            </div>
        {{/each}}
    </div>
    <hr />
    <div class="add-modifier-panel">
        <input type="text" class="add-modifier-name" placeholder={{localize "pf2ettw.ModifierTitle"}}>
        <select class="add-modifier-type">
            <option value="circumstance" selected>{{localize "pf2ettw.ModifierType.circumstance"}}</option>
            <option value="item">{{localize "pf2ettw.ModifierType.item"}}</option>
            <option value="status">{{localize "pf2ettw.ModifierType.status"}}</option>
            <option value="untyped">{{localize "pf2ettw.ModifierType.untyped"}}</option>
            <option value="ability">{{localize "pf2ettw.ModifierType.ability"}}</option>
            <option value="proficiency">{{localize "pf2ettw.ModifierType.proficiency"}}</option>
        </select>
        <input type="text" class="add-modifier-value" placeholder="+1">
        <button type="button" class="add-modifier">+{{localize "pf2ettw.Roll.Add"}}</button>
    </div>
    <hr/>

    <div class="fate">
        <label>
            <input type="radio" name="rollTwice" value="keep-higher" {{checked fortune}} />
            {{localize "pf2ettw.Roll.KeepHigher"}}
        </label>
        <label>
            <input type="radio" name="rollTwice" value="" {{checked none}} />
            {{localize "pf2ettw.Roll.Normal"}}
        </label>
        <label>
            <input type="radio" name="rollTwice" value="keep-lower" {{checked misfortune}} />
            {{localize "pf2ettw.Roll.KeepLower"}}
        </label>
    </div>
    <hr/>

    <div class="roll-mode-panel">
        <span class="label">{{localize "pf2ettw.RollModeLabel"}}</span>
        <select name="rollmode">
            {{#select rollMode}}
                {{#each rollModes as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <hr/>

    <button type="button" class="roll">{{localize "pf2ettw.Roll.Roll"}} ({{numberFormat totalModifier decimals=0 sign=true}})</button>

    <!-- Settings Menu -->
    <div class="hover-content" id="{{appId}}-settings">
        <ul class="modifier-list settings-list">
            <li class="item">
                <span class="label">{{localize "pf2ettw.SETTINGS.Player.QuickRolls.DialogHint"}}</span>
                <input class="quick-rolls-submit" type="checkbox" {{checked showRollDialogs}} />
            </li>
        </ul>
    </div>
</form>
