<form autocomplete="off" spellcheck="off">
    <div class="form-group">
        <label>{{localize "pf2ettw.ItemBonusLabel"}}</label>
        <input type="text" name="itemBonus" value="{{data.itemBonus}}" placeholder="{{localize "pf2ettw.RollBonusPlaceholder"}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.StatusBonusTitle"}}</label>
        <input type="text" name="statusBonus" value="{{data.statusBonus}}" placeholder="{{localize "pf2ettw.RollBonusPlaceholder"}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.CircumstanceBonusTitle"}}</label>
        <input type="text" name="circumstanceBonus" value="{{data.circumstanceBonus}}" placeholder="{{localize "pf2ettw.RollBonusPlaceholder"}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.RollModeLabel"}}</label>
        <select name="rollMode">
            {{#select rollMode}}
                {{#each rollModes as |label mode|}}
                    <option value="{{mode}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</form>
