<div class="pf2ettw chat-card item-card" {{#if data.item}}data-embedded-item="{{data.item}}"{{/if}} data-spell-lvl="{{data.spellLvl}}" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
        <h4>{{data.levelLabel}}</h4>
    </header>

    <div class="item-properties tags">
        {{#each data.traits}}
            <span class="tag" data-trait="{{this.name}}" data-description="{{this.description}}">{{localize this.label}}</span>
        {{/each}}
    </section>

    <section class="card-content">
        {{{data.description.value}}}
        {{#if data.materials.value}}
            <p><strong>{{localize "pf2ettw.SpellRequirementsLabel"}}</strong> {{data.materials.value}}</p>
        {{/if}}
    </section>

    <section class="card-buttons">
        {{#if data.isSave}}
            <button type="button" data-action="save" data-save="{{data.save.type}}" data-dc="{{data.save.value}}" data-owner-title="{{data.save.breakdown}}">{{data.save.label}}</button>
        {{/if}}
        {{#if (or data.check data.hasDamage data.hasCounteractCheck.value data.area.areaType)}}
            <section class="owner-buttons" data-visibility="owner">
                {{#if data.check}}
                    <div class="spell-attack-buttons">
                        <button type="button" data-action="spellAttack">{{localize "pf2ettw.AttackLabel"}}</button>
                        <button type="button" data-action="spellAttack2">{{localize "pf2ettw.MAPAbbreviationLabel" penalty=data.check.map1}}</button>
                        <button type="button" data-action="spellAttack3">{{localize "pf2ettw.MAPAbbreviationLabel" penalty=data.check.map2}}</button>
                    </div>
                {{/if}}
                {{#if data.hasDamage}}
                    <div class="spell-button">
                        <button type="button" data-action="spellDamage">{{data.damageLabel}}</button>
                    </div>
                {{/if}}
                {{#if data.hasCounteractCheck.value}}
                    <div class="spell-button">
                        <button type="button" data-action="spellCounteract">{{localize "pf2ettw.Counteract"}}</button>
                    </div>
                {{/if}}
                {{#if data.area.areaType}}
                    <div class="spell-button">
                        <button type="button" data-action="spellTemplate">{{localize "pf2ettw.Item.Spells.PlaceMeasuredTemplate" shape=data.areaType size=data.areaSize unit=data.areaUnit}}</button>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    </section>

    <footer class="card-footer">
        {{#each data.properties}}
            <span>{{localize this}}</span>
        {{/each}}
    </footer>
</div>
