<div class="pf2ettw chat-card action-card" data-actor-id="{{actor.id}}" data-strike-name="{{strike.name}}" data-strike-index="{{strikeIndex}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{strike.imageUrl}}" title="{{strike.name}}" width="36" height="36"/>
        <h3>{{localize 'pf2ettw.WeaponStrikeLabel'}}: {{strike.name}}</h3>
    </header>

    <div class="card-content">{{{strikeDescription}}}</div>

    <div class="card-buttons" data-visibility="owner">
        <button type="button" data-action="strike-attack">{{strike.variants.0.label}}</button>
        <button type="button" data-action="strike-attack2">{{strike.variants.1.label}}</button>
        <button type="button" data-action="strike-attack3">{{strike.variants.2.label}}</button>
        <div class="card-buttons-two-column">
            <button type="button" data-action="strike-damage">{{localize "pf2ettw.DamageLabel"}}</button>
            <button type="button" data-action="strike-critical">{{localize "pf2ettw.CriticalDamageLabel"}}</button>
        </div>
    </div>

    <footer class="card-footer">
        {{#each strike.traits}}
            <span title="{{localize this.description}}">{{localize this.label}}</span>
        {{/each}}
    </footer>
</div>
