<div class="pf2ettw chat-card weapon-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" />
        <h3>{{item.name}}</h3>
    </header>
    <div class="tags">
        {{#if item.isIdentified}}
            <span class="tag" data-trait="{{data.rarity.name}}" data-description="{{data.rarity.description}}"">{{localize data.rarity.label}}</span>
        {{/if}}
        {{#each data.traits as |trait|}}
            {{#unless trait.mystified}}
                <span class="tag" data-trait="{{this.name}}" data-description="{{this.description}}"">{{localize trait.label}}</span>
            {{/unless}}
        {{/each}}
        {{#each data.properties as |property|}}
            <span class="tag tag_secondary">{{localize property}}</span>
        {{/each}}
        {{#if (and item.isIdentified data.material)}}<span class="tag tag_material">{{data.material}}</span>{{/if}}
    </div>
    <div class="card-content">
        {{{data.description.value}}}
    </div>
    <footer class="card-footer">
        {{#if item.isIdentified}}
            <span>{{localize "pf2ettw.Item.Physical.LevelLabel" level=item.level}}</span>
            <span>{{localize "pf2ettw.Item.Physical.PriceLabel" price=(coinLabel item.price)}}</span>
        {{/if}}
    </footer>
</div>
