<a class="carry-type-hover item-carry-type item-control{{#if item.isEquipped}} active{{/if}}" data-tooltip-content="#inventory-{{item.id}}-carryType">
    {{~#if (and (eq item.data.data.equipped.carryType "held") (eq item.data.data.equipped.handsHeld 1))}}1<i class="fas fa-hand-rock"></i>
    {{~else if (and (eq item.data.data.equipped.carryType "held") (eq item.data.data.equipped.handsHeld 2))}}2<i class="fas fa-hand-rock"></i>
    {{~else if (eq item.data.data.equipped.carryType "stowed")}}<i class="fas fa-box"></i>
    {{~else if (eq item.data.data.equipped.carryType "dropped")}}<i class="fas fa-grip-lines"></i>
    {{~else if (eq item.data.data.equipped.carryType "quick")}}<i class="fas fa-bolt"></i>
    {{~else}}<i class="fas fa-tshirt"></i>{{/if~}}
</a>
<div class="hover-content carry-hover-content" id="inventory-{{item.id}}-carryType" data-item-id="{{item.id}}">
    <!-- {{item.data.data.usage.type}} / {{item.data.data.usage.where}} / {{item.data.data.usage.hands}} / {{item.data.data.usage.value}} -->
    <ul>
        {{#if (eq item.data.data.usage.type "held")}}
            <li>
                <a class="item-control item-location-option{{#if (and (eq item.data.data.equipped.carryType "held") (eq item.data.data.equipped.handsHeld 1))}} selected{{/if}}"
                    data-carry-type="held"
                    data-hands-held="1">
                    <i class="fas fa-hand-rock"></i>{{localize "pf2ettw.CarryType.held1"}}
                </a>
            </li>
        {{/if}}
    <li>
        <a class="item-control item-location-option{{#if (and (eq item.data.data.equipped.carryType "held") (eq item.data.data.equipped.handsHeld 2))}} selected{{/if}}"
            data-carry-type="held"
            data-hands-held="2">
            <i class="fas fa-hand-rock"></i>{{localize "pf2ettw.CarryType.held2"}}
        </a>
    </li>

    {{#if (and (or (eq item.data.data.weight.value "L") (eq item.data.data.weight.value "-")) (ne item.data.data.usage.value "held-in-two-hands")) }}
        <li>
            <a class="item-control item-location-option{{#if (and (eq item.data.data.equipped.carryType "quick") (or (not item.data.data.usage.where) (eq item.data.data.equipped.inSlot false)))}} selected{{/if}}"
                data-carry-type="quick"
                data-in-slot="false"><i class="fas fa-bolt"></i>{{localize "pf2ettw.CarryType.quick"}}</a>
        </li>
    {{/if}}

    {{#if (and (eq item.data.data.usage.type "worn") item.data.data.usage.where)}}
        <li>
            <a class="item-control item-location-option{{#if item.data.data.equipped.inSlot}} selected{{/if}}" data-carry-type="worn" data-in-slot="true">
                <i class="fas fa-tshirt"></i>{{localize "pf2ettw.Item.Physical.Usage.WornParenthetical" where=(localize (concat "pf2ettw.Item.Physical.Usage.WornSlot." item.data.data.usage.where))}}
            </a>
        </li>
    {{/if}}
    <li>
        <a class="item-control item-location-option{{#if (and (eq item.data.data.equipped.carryType "worn") (or (not item.data.data.usage.where) (eq item.data.data.equipped.inSlot false)))}} selected{{/if}}"
            data-carry-type="worn"
            data-in-slot="false"><i class="fas fa-tshirt"></i>{{localize "pf2ettw.CarryType.worn"}}</a>
    </li>

    {{#if @root.inventory.hasStowingContainers}}
        <li>
            <a class="item-control item-location-option{{#if (eq item.data.data.equipped.carryType "stowed")}} selected{{/if}}"
                data-carry-type="stowed"><i class="fas fa-box"></i>{{localize "pf2ettw.CarryType.stowed"}}</a>
        </li>
    {{/if}}
    <li>
        <a class="item-control item-location-option {{#if (eq item.data.data.equipped.carryType "dropped")}}selected{{/if}}"
            data-carry-type="dropped"><i class="fas fa-grip-lines"></i>{{localize "pf2ettw.CarryType.dropped"}}</a>
    </li>
</ul>
</div>
