<div class="coinage">
    <div class="currency">
        <li class="label">{{localize "pf2ettw.StackGroupCoins"}}</li>
        {{#each totalCoinage as |value denomination|}}
            <li class="denomination {{denomination}}">
                <div class="currency-image" title="{{localize value.label}}"></div>
                <span>{{value.value}}</span>
            </li>
        {{/each}}
        {{#if @root.owner}}
            <li class="add-coins-popup" title="{{localize "pf2ettw.AddCoinsTitle"}}">
                <button type="button"><i class="fas fa-plus"></i></button>
            </li>
            <li class="remove-coins-popup" title="{{localize "pf2ettw.RemoveCoinsTitle"}}">
                <button type="button"><i class="fas fa-minus"></i></button>
            </li>
            {{#if (or isLoot (eq @root.document.type "character"))}}
                <li class="sell-all-treasure" title="{{localize "pf2ettw.SellAllTreasureTitle"}}">
                    <button type="button"><i class="fas fa-coins"></i></button>
                </li>
            {{/if}}
        {{/if}}
    </div>
    <div class="wealth">
        <h3 class="item-name">
            {{localize "pf2ettw.TotalCoinage"}}
            <span>{{totalCoinageGold}} {{localize "pf2ettw.CurrencyAbbreviations.gp"}}</span>
        </h3>
        <h3 class="item-name">{{localize "pf2ettw.TotalWealth"}} <span>{{totalWealthGold}} {{localize "pf2ettw.CurrencyAbbreviations.gp"}}</span></h3>
    </div>
</div>

