{{#each conditions as |item ii|}}
<li class="item effects expandable" data-item-id="{{item.id}}" data-action-index="{{ii}}">
    <div class="item-name rollable">
        <div class="item-image" style="background-image: url({{item.img}})">
            <i class="fas fa-comment-alt"></i>
        </div>
        <h4 class="action-name">{{item.name}}{{#unless item.active}}<span> (Inactive)</span>{{/unless}}</h4>
    </div>
    <div class="item-controls">
        {{#if item.value}}
            <a class="item-control increment" title="{{localize 'pf2ettw.IncrementEffectTitle'}}"><i
                class="fas fa-plus"></i></a>
            <a class="item-control decrement" title="{{localize 'pf2ettw.DecrementEffectTitle'}}"><i
                class="fas fa-minus"></i></a>
        {{/if}}
        <a class="item-control item-delete" title="{{localize pf2ettw.DeleteItemTitle}}"><i
                class="fas fa-trash"></i></a>
    </div>
    <div class="item-summary">
        <div class="item-description">
            <p>{{{enrichHTML item.description}}}</p>
        </div>
        {{#if item.references}}
        <div class="condition-references">
            {{#if item.parents.length}}
            <div class="condition-parents">
                <p>Applied From:{{#each item.parents as |parent|}} <span
                        data-item-id="{{parent.id}}">{{{enrichHTML parent.text}}}</span>{{/each}}</p>
            </div>
            {{/if}}
            {{#if item.children.length}}
            <div class="condition-children">
                <p>Also Applied:{{#each item.children as |child|}} {{{enrichHTML child.text}}}{{/each}}</p>
            </div>
            {{/if}}
            {{#if item.overrides.length}}
            <div class="condition-overriding">
                <p>Overriding:{{#each item.overrides as |o|}} {{{enrichHTML o.text}}}{{/each}}</p>
            </div>
            {{/if}}
            {{#if item.overriddenBy.length}}
            <div class="condition-overridden">
                <p>Overridden by:{{#each item.overriddenBy as |o|}} {{{enrichHTML o.text}}}{{/each}}</p>
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
</li>
{{/each}}
