<li class="item list-row {{#if item.isTemporary}}temporary-item{{/if}}" data-item-id="{{item.id}}" data-item-is-container="{{isContainer}}" data-item-rarity="{{item.data.traits.rarity}}">
    <div class="item-name rollable{{#if (and (ne @root.actor.type "loot") (not owner))}} long{{/if}}">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>
            {{item.name}}
            {{#if item.isTemporary}}<i class="fas fa-info-circle small" title="{{localize "pf2ettw.TemporaryItemToolTip"}}"></i>{{/if}}
            {{#if (and user.isGM (not item.isIdentified))}}<span class="gm-mystified-data">({{item.data.data.identification.identified.name}})</span>{{/if}}
        </h4>
        {{#if item.hasCharges}}
            <span class="item-charges">({{item.charges.value}}/{{item.charges.max}})</span>
        {{/if}}
    </div>
    {{#if (eq @root.actor.type "loot")}}
        <span class="item-sell-value">{{#if (or item.isIdentified @root.user.isGM)}}{{item.price.value}}{{/if}}</span>
    {{else}}
        {{#if (or (eq @root.actor.type "npc") (eq item.type "treasure"))}}
            <span class="item-sell-value">{{#if (or item.isIdentified @root.user.isGM)}}{{item.assetValue}}{{/if}}</span>
        {{/if}}
    {{/if}}
    <span class="item-quantity">
        {{#if owner}}<a class="item-decrease-quantity">&ndash;</a>{{/if}}
        <span>{{item.quantity}}</span>
        {{#if owner}}<a class="item-increase-quantity">+</a>{{/if}}
    </span>

    {{#if (ne @root.actor.type "npc")}}
        <span class="item-weight">{{item.bulk}}</span>
    {{/if}}

    {{#if editable}}
        <div class="item-controls">
            {{#if isContainer}}
                {{#if item.isCollapsed}}
                    <a class="item-control item-toggle-container" title="{{localize "pf2ettw.OpenItemTitle"}}"><i class="fas fa-box"></i></a>
                {{else}}
                    <a class="item-control item-toggle-container" title="{{localize "pf2ettw.OpenItemTitle"}}"><i class="fas fa-box-open"></i></a>
                {{/if}}
            {{/if}}

            {{#if (and canBeEquipped isInvestable)}}
                <a class="item-control item-toggle-invest {{#if item.isInvested}}active{{/if}}" title="{{localize "pf2ettw.ui.equipmentInvested"}}"><i class="fas fa-gem"></i></a>
            {{/if}}
            {{#if (or (eq @root.actor.type "character") (eq @root.actor.type "npc"))}}
                {{> "systems/pf2ettw/templates/actors/partials/carry-type.html" item=item}}
            {{/if}}
            {{#if item.isDamaged}}
                <a class="item-control item-repair" title="{{localize "pf2ettw.RepairItemTitle"}}"><i class="fas fa-hammer"></i></a>
            {{/if}}
            {{#if @root.user.isGM}}
                {{#if item.isIdentified}}
                    <a class="item-control item-toggle-identified identified" title="{{localize "pf2ettw.identification.Mystify"}}"><i class="far fa-question-circle"></i></a>
                {{else}}
                    <a class="item-control item-toggle-identified" title="{{localize "pf2ettw.identification.Identify"}}"><i class="fas fa-question-circle"></i></a>
                {{/if}}
            {{/if}}
            {{#if (and (gt item.quantity 1) (not item.stowsItems))}}
                <a class="item-control item-split" title="{{localize "pf2ettw.ui.split"}}"><i class="fas fa-divide"></i></a>
            {{/if}}
            {{#if (and isSellable (ne @root.actor.type "loot"))}}
                <a class="item-control item-sell-treasure" title="{{localize "pf2ettw.ui.sell"}}"><i class="fas fa-coins"></i></a>
            {{/if}}
            {{#if (or @root.user.isGM item.isIdentified)}}
                <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
            {{/if}}
            {{#if (and @root.npcAttacksFromWeapons (eq item.type "weapon") (eq @root.actor.type "npc"))}}
                <a class="item-control generate-attack" title="Generate Attack"><i class="fas fa-hammer"></i></a>
            {{/if}}
            {{#if (or owner (ne @root.actor.type "loot"))}}
                <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    {{/if}}
</li>

{{#unless item.isCollapsed}}
    <div class="container-metadata" data-item-id="{{item.id}}" data-item-is-container="{{isContainer}}">
        {{#if isContainer}}
            <div class="container-capacity {{#if item.containerData.isOverLoaded}}over-limit{{/if}}">
                <span class="container-capacity-bar" style="width:{{item.capacityPercentage}}%"></span>
                <span class="container-capacity-label">{{localize "pf2ettw.CapacityBarLabel"}}: {{item.capacity.value}} / {{item.capacity.max}}</span>
            </div>
        {{/if}}
        <div class="container-held-items">
            {{#each heldItems}}
                {{> "systems/pf2ettw/templates/actors/partials/item-line.html" editable=@root.editable user=@root.user owner=@root.owner}}
            {{/each}}
        </div>
</div>
{{/unless}}
