<form class="{{cssClass}}{{#if editing}} editing{{/if}}" autocomplete="off">
    {{> systems/pf2ettw/templates/actors/hazard/partials/header.html}}
    <div class="container">
        {{> systems/pf2ettw/templates/actors/hazard/partials/sidebar.html}}
        <!-- BODY -->
        <section class="content">
            {{#if (or hasStealth editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>
                        {{localize "pf2ettw.Check.DC.Specific.stealth"}}
                        <input type="text" value="{{stealthDC}}" data-value="{{stealthDC}}" data-property="data.attributes.stealth.value" data-dtype="Number" placeholder="N/A" />
                    </h3>
                    <div class="controls">
                        <a data-action="edit-section"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.attributes.stealth.details) target="data.attributes.stealth.details" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasDescription editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "pf2ettw.HazardDescriptionLabel"}}</h3>
                    <div class="controls">
                        <a data-action="edit-section"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.description) target="data.details.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasDisable editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "pf2ettw.HazardDisableLabel"}}</h3>
                    <div class="controls">
                        <a data-action="edit-section"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.disable) target="data.details.disable" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasRoutineDetails editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "pf2ettw.HazardRoutineLabel"}}</h3>
                    <div class="controls">
                        <a data-action="edit-section"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.routine) target="data.details.routine" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasResetDetails editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "pf2ettw.HazardResetLabel"}}</h3>
                    <div class="controls">
                        <a data-action="edit-section"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.reset) target="data.details.reset" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            <div class="section-container">
                <div class="section-header">
                    <h3>Actions</h3>
                    {{#if owner}}
                    <div class="controls">
                        <a class="item-create" title="{{localize "pf2ettw.CreateActionTitle"}}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i> {{localize "ITEM.TypeAction"}}</a>
                        <a class="attack-add item-create" data-type="melee" data-action-type="melee"><i class="fas fa-plus"></i> {{localize "pf2ettw.NPCAttackMelee"}}</a>
                        <a class="attack-add item-create" data-type="melee" data-action-type="ranged"><i class="fas fa-plus"></i> {{localize "pf2ettw.NPCAttackRanged"}}</a>
                    </div>
                    {{/if}}
                </div>

                <div class="section-body">
                    <ol class="actions-list attacks-list item-list">
                        <!-- List Actions -->
                        {{#each actions as |section sid|}}
                            {{#each section.actions as |action aid|}}
                            <li class="item action flexrow" data-item-id="{{action.id}}">
                                <div class="action-header">
                                    <div class="action-name rollable">
                                        <h4><a>{{action.name}} {{{actionGlyph action.actionCost}}}</a></h4>
                                    </div>
                                    <div class="item-controls">
                                        <a class="item-chat chat" title="{{ localize 'pf2ettw.NPC.SendToChat'}}"><i class="fas fa-comment-alt"></i></a>
                                        {{#if @root.editable}}
                                            <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        {{/each}}
                        <!-- List Attacks -->
                        {{#each actor.attacks as |action actionId|}}
                            <li class="item attack flexrow" data-action-index="{{actionId}}" data-item-name="{{action.name}}" data-item-id="{{action._id}}">
                                <div class="attack-header">
                                    <h4 class="attack-name tags">
                                        <span>
                                            <strong>{{localize action.attackRollType}}</strong>
                                            <span class="activity-icon">{{{actionGlyph 1}}}</span>
                                            {{action.name}}
                                        </span>
                                        {{#each traits as |trait|}}
                                            <div class="tag tag_transparent" title="{{localize trait.description}}">{{localize trait.label}}</div>
                                        {{/each}}
                                        {{#each action.additionalEffects as |effect|}}
                                            <div class="tag tag_transparent" data-tag="{{effect.tag}}">{{localize effect.label}}</div>
                                        {{/each}}
                                    </h4>
                                    <div class="attack-controls item-controls">
                                        {{#if @root.editing}}
                                            <a class="item-edit edit" title="{{localize "pf2ettw.NPC.Edit"}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-delete delete" title="{{localize "pf2ettw.NPC.Remove"}}"><i class="fas fa-trash"></i></a>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="attack-body">
                                    <div class="flexrow">
                                        <div class="attacks sub-section">
                                            <button type="button" class="btn attack-button" data-action="npcAttack" >Strike (+{{action.data.bonus.total}})</button>
                                            <button type="button" class="btn attack-button" data-action="npcAttack2" >{{#unless action.data.isAgile}}-5{{else}}-4{{/unless}}</button>
                                            <button type="button" class="btn attack-button" data-action="npcAttack3" >{{#unless action.data.isAgile}}-10{{else}}-8{{/unless}}</button>
                                        </div>
                                        <div class="damage sub-section">
                                            <button type="button" class="damage-button" data-action="npcDamage">
                                                {{localize "pf2ettw.DamageLabel"}} (
                                                    {{#if action.data.damageRolls}}
                                                        {{#each action.data.damageRolls as |dmg index|}}
                                                            {{dmg.damage}} {{dmg.damageType}}
                                                        {{/each}}
                                                    {{/if}}
                                                    )
                                            </button>
                                            <button class="critical-button" data-action="npcDamageCritical">{{localize "pf2ettw.CriticalDamageLabel"}}</button>
                                        </div>
                                    </div>
                                    <div class="attack-detail sub-section expandable expanded">
                                        <div class="attack-description">
                                            {{{enrichHTML action.data.description.value}}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="source section-container headerless">
                <div class="section-body flexrow">
                    <label>{{localize "pf2ettw.Source.Label"}}:</label>
                    <input class="source-input" name="data.source.value" type="text" value="{{data.source.value}}" placeholder="{{localize "pf2ettw.Source.SourcePlaceholder"}}" />
                    <label>{{localize "pf2ettw.Source.AuthorLabel"}}:</label>
                    <input name="data.source.author"  type="text" value="{{data.source.author}}" placeholder="{{localize "pf2ettw.Source.AuthorPlaceholder"}}" />
                </div>
            </div>
        </section>
    </div>
</form>
