{{> "systems/pf2ettw/templates/system/actions/repair/item-heading-partial.html"}}
<div class="pf2ettw chat-card" data-item-uuid="{{item.uuid}}">
    <p>
        <strong>{{localize "pf2ettw.Actions.Repair.Labels.Hardness"}}</strong>
        {{numberFormat item.data.data.hardness decimals=0 sign=false}}
    </p>
    {{#if (gt damage.dealt 0)}}
    {{> "systems/pf2ettw/templates/system/actions/repair/chat-button-partial.html" result="damage" value=damage.rolled label=(localize "pf2ettw.Actions.Repair.Labels.DealItemDamage" value=damage.dealt)}}
    {{else}}
    <p>{{localize "pf2ettw.Actions.Repair.Labels.DamageMitigatedByHardness"}}</p>
    {{/if}}
</div>
