<div class="content-box">
  <nav data-group="primary">
      <a data-tab="landing-page" style="display:none"></a>
      <a data-tab="license-paizo">Paizo's Community Use Policy</a>
  </nav>
  <section class="content">
      <div class="tab" data-group="primary" data-tab="landing-page">
          <div style='text-align:center; padding: 2em;'>{{localize "pf2ettw.LicenseViewer.LandingPageText"}}</div>
      </div>
      <div class="tab" data-group="primary" data-tab="license-paizo">
        <div style='padding: 2em;'>
          <p>
            This system for FoundryVTT uses trademarks and/or copyrights owned by Paizo Inc., used under Paizo's Community Use Policy (<a href="https://paizo.com/community/communityuse">paizo.com/communityuse</a>).
            We are expressly prohibited from charging you to use or access this content. This system for FoundryVTT is not published, endorsed, or specifically approved by Paizo.
            For more information about Paizo Inc. and Paizo products, visit <a href="https://paizo.com/">paizo.com</a>.
            </p>
        </div>
    </div>
  </section>
</div>
