<div class="tab biography" data-group="primary" data-tab="biography">
    <section class="biography-details">
        <div class="bio appearance">
            <label class="details-label" >
                {{localize "pf2ettw.BiographyAppearance"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyAppearanceTitle'}}" class="biography-content" style="min-height: 200px;" >
                {{editor
                    content=data.details.biography.appearance
                    target="data.details.biography.appearance"
                    button=true owner=owner editable=editable}}
            </span>
        </div>
        <div class="bio backstory">
            <label class="details-label" >
                {{localize "pf2ettw.BiographyBackStory"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyBackStoryTitle'}}" class="biography-content" style="min-height: 200px;" >
                {{editor
                    content=data.details.biography.backstory
                    target="data.details.biography.backstory"
                    button=true owner=owner editable=editable}}
            </span>
        </div>
        <div class="bio birth-place">
            <label class="details-label" for="{{options.id}}-birth-place">
                {{localize "pf2ettw.BiographyBirthPlace"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyBirthPlaceTitle'}}">
                <input
                    id="{{options.id}}-birth-place"
                    name="data.details.biography.birthPlace"
                    type="text"
                    value="{{data.details.biography.birthPlace}}"
                    data-dtype="String"
                />
            </span>
        </div>
    </section>

    <h3 class="core-title"> {{localize "pf2ettw.BiographyPersonalityHeader"}}</h3>
    <section class="biography-personality">
        <div class="bio attitude">
            <label class="details-label" for="{{options.id}}-attitude">
                {{localize "pf2ettw.BiographyAttitude"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyAttitudeTitle'}}">
                <input
                    id="{{options.id}}-attitude"
                    name="data.details.biography.attitude"
                    type="text"
                    value="{{data.details.biography.attitude}}"
                    data-dtype="String"
                />
            </span>
        </div>
        <div class="bio beliefs">
            <label class="details-label" for="{{options.id}}-beliefs">
                {{localize "pf2ettw.BiographyBeliefs"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyBeliefsTitle'}}">
                <input
                    id="{{options.id}}-beliefs"
                    name="data.details.biography.beliefs"
                    type="text"
                    value="{{data.details.biography.beliefs}}"
                    data-dtype="String"
                />
            </span>
        </div>
        <div class="bio likes">
            <label class="details-label" for="{{options.id}}-likes">
                {{localize "pf2ettw.BiographyLikes"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyLikesTitle'}}">
                <input
                    id="{{options.id}}-likes"
                    name="data.details.biography.likes"
                    type="text"
                    value="{{data.details.biography.likes}}"
                    data-dtype="String"
                />
            </span>
        </div>
        <div class="bio dislikes">
            <label class="details-label" for="{{options.id}}-dislikes">
                {{localize "pf2ettw.BiographyDislikes"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyDislikesTitle'}}">
                <input
                    id="{{options.id}}-dislikes"
                    name="data.details.biography.dislikes"
                    type="text"
                    value="{{data.details.biography.dislikes}}"
                    data-dtype="String"
                />
            </span>
        </div>
        <div class="bio catchphrases">
            <label class="details-label" for="{{options.id}}-catchphrases">
                {{localize "pf2ettw.BiographyCatchphrases"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyCatchphrasesTitle'}}">
                <input
                    id="{{options.id}}-catchphrases"
                    name="data.details.biography.catchphrases"
                    type="text"
                    value="{{data.details.biography.catchphrases}}"
                    data-dtype="String"
                />
            </span>
        </div>
    </section>

    <h3 class="core-title"> {{localize "pf2ettw.BiographyCampaignNotesHeader"}}</h3>
    <section class="biography-campaign-notes">
        <div class="bio campaign-notes">
            <label class="details-label" >
                {{localize "pf2ettw.BiographyCampaignNotes"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyCampaignNotesTitle'}}" class="biography-content" style="min-height: 200px;" >
                {{editor
                    content=data.details.biography.campaignNotes
                    target="data.details.biography.campaignNotes"
                    button=true owner=owner
                    editable=editable}}
            </span>
        </div>
        <div class="bio allies">
            <label class="details-label" >
                {{localize "pf2ettw.BiographyAllies"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyAlliesTitle'}}" class="biography-content" style="min-height: 200px;" >
                {{editor
                    content=data.details.biography.allies
                    target="data.details.biography.allies"
                    button=true owner=owner
                    editable=editable}}
            </span>
        </div>
        <div class="bio enemies">
            <label class="details-label" >
                {{localize "pf2ettw.BiographyEnemies"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyEnemiesTitle'}}" class="biography-content" style="min-height: 200px;" >
                {{editor
                    content=data.details.biography.enemies
                    target="data.details.biography.enemies"
                    button=true owner=owner
                    editable=editable}}
            </span>
        </div>
        <div class="bio organizations">
            <label class="details-label" >
                {{localize "pf2ettw.BiographyOrganizations"}}
            </label>
            <span title="{{localize 'pf2ettw.BiographyOrganizationsTitle'}}" class="biography-content" style="min-height: 200px;" >
                {{editor
                    content=data.details.biography.organizations
                    target="data.details.biography.organizations"
                    button=true owner=owner
                    editable=editable}}
            </span>
        </div>
    </section>
</div>
