<div class="tab effects actions-pane" data-group="primary" data-tab="effects">
    <ol class="effects-list directory-list item-list">
        <li class="action-header stroke-header">
            {{> systems/pf2ettw/templates/actors/partials/images/header_stroke.html}}
            <h3 class="item-name">{{localize 'pf2ettw.ConditionsLabel'}}</h3>
        </li>
        {{> systems/pf2ettw/templates/actors/partials/conditions.html}}

        <li class="action-header stroke-header">
            {{> systems/pf2ettw/templates/actors/partials/images/header_stroke.html}}
            <h3 class="item-name">{{localize 'pf2ettw.EffectsLabel'}}</h3>
        </li>
        {{#each items as |item ii|}}
        {{#if (eq item.type 'effect') }}
        <li class="item effects" data-item-id="{{item._id}}">
            <div class="item-name">
                <div class="item-image" style="background-image: url({{item.img}})">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <h4>{{item.name}}</h4>
            </div>
            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="{{localize 'pf2ettw.EditItemTitle'}}"><i
                        class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize pf2ettw.DeleteItemTitle}}"><i
                        class="fas fa-trash"></i></a>
            </div>
            <div class="item-summary"></div>
            {{/if}}
        </li>
        {{/if}}
        {{/each}}

        <li class="action-header stroke-header">
            {{> systems/pf2ettw/templates/actors/partials/images/header_stroke.html}}
            <h3 class="item-name">{{localize "pf2ettw.FeatDeityBoonCursesHeader"}}</h3>
            {{#if owner}}
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize "pf2ettw.CreateFeatTitle"}}" data-type="feat" data-feat-type="deityboon"><i class="fas fa-plus"></i></a>
                <a class="item-control feat-browse" title="{{localize "pf2ettw.OpenFeatBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
            </div>
            {{/if}}
        </li>

        {{#each actor.deityBoonsCurses as |feat|}}
            <li class="item feat-item" data-item-id="{{feat._id}}">
                <div class="item-name rollable">
                    <div class="feat-slot-title">
                    </div>
                    <div class="item-image" style="background-image: url({{feat.img}})">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                    <h4>
                        {{feat.name}}
                    </h4>
                </div>
                {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
            </li>
        {{/each}}
    </ol>
</div>
