<div class="tab character" data-group="primary" data-tab="character">
    <section class="character-details">
        <div class="frame">
            <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        </div>
        <div class="alignment">
            <span class="bio-alignment" title="{{localize "pf2ettw.AlignmentTitle"}}">
                <select aria-label="{{localize "pf2ettw.Alignment"}}" name="data.details.alignment.value">
                    {{#select data.details.alignment.value}}
                        {{#each alignments as |label key|}}
                            <option value="{{key}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </span>
        </div>
        <div class="pc pc_deity" data-item-id="{{deity.id}}">
            <div class="input">
                <label class="details-label">{{localize "ITEM.TypeDeity"}}</label>
                <h3>
                    <span class="value">{{deity.name}}</span>
                    {{#if @root.options.editable}}
                        {{#if deity}}
                            <a class="item-edit"><i class="fas fa-edit"></i></a>
                        {{else}}
                            <a class="open-compendium" data-compendium="pf2ettw.deities"><i class="fas fa-plus-circle"></i></a>
                        {{/if}}
                    {{/if}}
                </h3>
            </div>
            {{#if deity}}
                <img class="symbol" src="{{deity.img}}" alt="{{deity.name}}" />
            {{else}}
                <img class="symbol" src="systems/pf2ettw/icons/default-icons/deity.svg" alt="{{localize "pf2ettw.Deity"}}" />
            {{/if}}
        </div>
        <div class="detail-sheet">
            <div class="pc pc_ancestry item" data-item-id="{{ancestry.id}}">
                <span class="details-label">{{localize "ITEM.TypeAncestry"}}</span>
                <span title="{{localize "pf2ettw.AncestryTitle"}}">
                    <h3>
                        <span class="value">{{ancestry.name}}</span>
                        {{#if @root.options.editable}}
                            {{#if ancestry}}
                                <a class="item-edit"><i class="fas fa-edit"></i></a>
                            {{else}}
                                <a class="open-compendium" data-compendium="pf2ettw.ancestries"><i class="fas fa-plus-circle"></i></a>
                            {{/if}}
                        {{/if}}
                    </h3>
                </span>
            </div>
            <div class="pc pc_heritage item" data-item-id="{{heritage.id}}">
                <span class="details-label">{{localize "pf2ettw.Heritage"}}</span>
                <span title="{{localize "pf2ettw.HeritageTitle"}}">
                    <h3>
                        <span class="value">{{heritage.name}}</span>
                        {{#if @root.options.editable}}
                            {{#if heritage}}
                                <a class="item-edit"><i class="fas fa-edit"></i></a>
                            {{else}}
                                <a class="open-compendium" data-compendium="pf2ettw.heritages"><i class="fas fa-plus-circle"></i></a>
                            {{/if}}
                        {{/if}}
                    </h3>
                </span>
            </div>
            <div class="pc pc_class item" data-item-id="{{class.id}}">
                <span class="details-label">{{localize "pf2ettw.Class"}}</span>
                <span title="{{localize "pf2ettw.ClassTitle"}}">
                    <h3>
                        <span class="value">{{class.name}}</span>
                        {{#if @root.options.editable}}
                            {{#if class}}
                                <a class="item-edit"><i class="fas fa-edit"></i></a>
                            {{else}}
                                <a class="open-compendium" data-compendium="pf2ettw.classes"><i class="fas fa-plus-circle"></i></a>
                            {{/if}}
                        {{/if}}
                    </h3>
                </span>
            </div>
            <div class="pc pc_background item" data-item-id="{{background.id}}">
                <span class="details-label">
                    {{localize "pf2ettw.Background"}}
                </span>
                <span title="{{localize "pf2ettw.BackgroundTitle"}}">
                    <h3>
                        <span class="value">{{background.name}}</span>
                        {{#if @root.options.editable}}
                            {{#if background}}
                                <a class="item-edit"><i class="fas fa-edit"></i></a>
                            {{else}}
                                <a class="open-compendium" data-compendium="pf2ettw.backgrounds"><i class="fas fa-plus-circle"></i></a>
                            {{/if}}
                        {{/if}}
                    </h3>
                </span>
            </div>
        </div>
    </section>

    <hr />
    <section class="character-background">
        {{> "systems/pf2ettw/templates/actors/character/partials/background.html"}}
    </section>

    <hr />
    <section class="character-traits">
        {{> "systems/pf2ettw/templates/actors/character/partials/traits.html"}}
    </section>

    <h3>{{localize "pf2ettw.AbilityScoresHeader"}} <button type="button" data-action="edit-ability-scores"><i class="fas fa-edit"></i>{{localize "pf2ettw.Edit"}}</button></h3>
    <section class="character-abilities">
        {{> "systems/pf2ettw/templates/actors/character/partials/abilities.html"}}
    </section>
</div>
