<div class="tab inventory item-container" data-container-type="actorInventory" data-group="primary" data-tab="inventory">
    {{> "systems/pf2ettw/templates/actors/partials/coinage.html" owner=@root.owner}}

    <ol class="inventory-list directory-list inventory-pane">
        {{#each inventory.sections as |section|}}
            <div class="inventory-header">
                <h3 class="item-name">{{section.label}}</h3>
                {{#if (eq section.type "equipment")}}
                    <span class="item-invested-total" {{#if section.overInvested}}style="color:orange; text-shadow: 1px 1px 0px black;"{{/if}}>{{localize "pf2ettw.InvestedLabel"}} ({{section.invested.value}}/{{section.invested.max}})</span>
                {{/if}}
                {{#if (eq section.type "treasure")}}
                    <span class="item-sell-value">{{localize "pf2ettw.ValueLabel"}}</span>
                {{/if}}
                <span class="item-quantity">{{localize "pf2ettw.QuantityLabel"}}</span>
                <span class="item-weight">{{localize "pf2ettw.BulkShortLabel"}}</span>
                {{#if @root.editable}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize "pf2ettw.CreateItemTitle"}}" data-type="{{section.type}}"><i class="fas fa-plus"></i></a>
                        <a class="item-control inventory-browse" title="{{localize "pf2ettw.OpenInventoryBrowser"}}" data-filter="itemtypes-{{section.type}}"><i class="fas fa-search"></i></a>
                    </div>
                {{/if}}
            </div>
            <ol class="item-list">
                {{#each section.items}}
                    {{> "systems/pf2ettw/templates/actors/partials/item-line.html" this=this editable=@root.editable owner=@root.owner user=@root.user}}
                {{/each}}
            </ol>
        {{/each}}
    </ol>

    {{#with inventory.bulk}}
        <div class="encumbrance {{#if isEncumbered}}encumbered{{/if}} {{#if isOverMax}}over-limit{{/if}}">
            <img src="systems/pf2ettw/icons/equipment/adventuring-gear/backpack.webp" alt="Encumbrance">
            <span class="encumbrance-bar" style="width:{{maxPercentageInteger}}%"></span>
            <div class="encumbrance-label">
                <span>{{localize "pf2ettw.BulkLabel"}} {{value}} / {{localize "pf2ettw.ConditionTypeEncumbered"}}: {{encumberedAt}}</span>
                <span>{{localize "pf2ettw.BulkMaxLabel"}}: {{max}}</span>
            </div>
            <div class="encumbrance-light-bulk-overflow">+ ({{value.light}}/10) {{localize "pf2ettw.BulkTypeLight"}}</div>
            <span class="bar-bg"></span>
        </div>
    {{/with}}
</div>
