<section class="tab pfs" data-group="primary" data-tab="pfs">
    <section class="organized-play">
            <label class="player-number details-label" for="{{options.id}}-pfs-player-number">{{localize "pf2ettw.PFS.OrganizedPlayNumber"}}</label>
            <label class="character-number details-label" for="{{options.id}}-pfs-character-number">{{localize "pf2ettw.PFS.CharacterNumber"}}</label>

            <input type="number" class="player-number details-input" id="{{options.id}}-pfs-player-number" name="data.pfs.playerNumber" value="{{data.pfs.playerNumber}}" min="10000" max="99999" placeholder="10000" />
            <span class="dash">&ndash;</span>
            <input type="number" class="character-number details-input" id="{{options.id}}-pfs-character-number" name="data.pfs.characterNumber" value="{{data.pfs.characterNumber}}" min="2001" max="9999" placeholder="2001" />
    </section>
    <section class="level-bump">
        <label class="details-label" for="{{options.id}}-pfs-level-bump">{{localize "pf2ettw.PFS.LevelBump"}}</label>
        <div class="toggle{{#if data.pfs.levelBump}} enabled{{/if}}">
            <input class="details-input" id="{{options.id}}-pfs-level-bump" name="data.pfs.levelBump" type="checkbox" {{checked data.pfs.levelBump}} />
            <label for="{{options.id}}-pfs-level-bump"></label>
        </div>
    </section>
    <section class="faction">
        <label class="details-label" for="{{options.id}}-pfs-current-faction">{{localize "pf2ettw.PFS.CurrentFaction"}}</label>
        <select id="{{options.id}}-pfs-current-faction" name="data.pfs.currentFaction" title="{{localize "pf2ettw.PFS.CurrentFaction"}}">
            {{#select data.pfs.currentFaction}}
                {{#each pfsFactions as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </section>
    <section class="reputations">
        <span class="details-label">{{localize "pf2ettw.PFS.Reputation"}}</span>
        {{#each data.pfs.reputation as |rep faction|}}
            <div class="reputation">
                <label for="{{@root.options.id}}-pfs-rep-{{faction}}">{{localize (add "pf2ettw.PFS.Factions." faction)}}:</label>
                <input type="number" class="details-input small-input" id="{{@root.options.id}}-pfs-rep-{{faction}}" name="data.pfs.reputation.{{faction}}" value="{{rep}}" placeholder="0" />
            </div>
        {{/each}}
        </div>
    </section>
    <ol class="actions-list directory-list">
        {{#each actor.feats as |section sid|}}
            {{#if (eq section.label "pf2ettw.FeatPFSBoonHeader")}}
                <li class="item action-header stroke-header">
                    {{> systems/pf2ettw/templates/actors/partials/images/header_stroke.html}}
                    <h3 class="feat-name">{{localize section.label}}</h3>
                    {{#if ../owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="{{localize "pf2ettw.CreateFeatTitle"}}" data-type="feat" data-feat-type="{{sid}}"><i class="fas fa-plus"></i></a>
                            <a class="item-control feat-browse" title="{{localize "pf2ettw.OpenFeatBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                        </div>
                    {{/if}}
                </li>

                {{#each section.feats as |feat fid|}}
                    <li class="item feat-item" data-item-id="{{feat._id}}">
                        <div class="item-name rollable">
                            <img class="item-image" src="{{feat.img}}" alt="{{feat.name}}">
                            <h4>{{feat.name}}</h4>
                        </div>
                        {{#if @root.options.editable}}
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            {{/if}}
        {{/each}}

        <li class="item action-header stroke-header">
            {{> systems/pf2ettw/templates/actors/partials/images/header_stroke.html}}
            <h3 class="item-name">{{localize "pf2ettw.FeatPFSBoonHeader"}}</h3>
            {{#if owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize "pf2ettw.CreateFeatTitle"}}" data-type="feat" data-feat-type="pfsboon"><i class="fas fa-plus"></i></a>
                    <a class="item-control feat-browse" title="{{localize "pf2ettw.OpenFeatBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                </div>
            {{/if}}
        </li>

        {{#each actor.pfsBoons as |feat|}}
            <li class="item feat-item" data-item-id="{{feat._id}}">
                <div class="item-name rollable">
                    <div class="feat-slot-title">
                    </div>
                    <img class="item-image" src="{{feat.img}}" alt="{{feat.name}}">
                    <h4>
                        {{feat.name}}
                    </h4>
                </div>
                {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ol>
</section>
