<form class="{{cssClass}}" autocomplete="off" spellcheck="false">
    <!-- HEADER -->
    <div class="familiar-sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-content">
            <div class="charname">
                <input class=" charname-value" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "
                    pf2ettw.NPC.Familiar"}}" spellcheck="false" />
                <label class="familiar-title">{{localize "ACTOR.TypeFamiliar"}}</label>
                {{#if data.master.id}}
                <label class="familiar-title"> {{data.details.level.value}}</label>
                {{/if}}
            </div>
            <div class="sub-header">
                <div class="traits">
                    {{#each traits as |trait|}}
                    <span data-trait="{{trait.value}}" title="{{trait.description}}">{{localize trait.label}}</span>
                    {{/each}}
                    <span title="{{localize "pf2ettw.Size" }}">{{localize size}}</span>
                </div>
                <div>
                    <label for="{{actor._id}}-master"><strong>{{localize "pf2ettw.Familiar.Master"}}</strong></label>
                    <select id="{{actor._id}}-master" name="data.master.id">
                        {{#select master.id}}
                        <option value="">{{localize "pf2ettw.Familiar.SelectMaster"}}</option>
                        {{#each masters as |eligible idx|}}
                        <option value="{{eligible.id}}">{{eligible.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <section class="details-section">
                <div class="hp-section">
                    <div class="label">
                        <i class="fas fa-heart"></i>
                        <h4>{{localize "pf2ettw.HitPointsHeader"}}</h4>
                    </div>
                    <div class="value">
                        <input class="current-hp" id="{{actor._id}}-hit-points" type="number"
                            name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" class="current-hp"
                            data-dtype="Number" />
                        <div>/ </div>
                        <div class="total-hp" title="{{data.attributes.hp.breakdown}}">{{data.attributes.hp.max}}</div>
                        <div class="temp-hp">
                            (+<input name="data.attributes.hp.temp" type="number" value="{{data.attributes.hp.temp}}" placeholder="0"/>)
                        </div>
                    </div>
                    <div class="label">
                        <i class="fas fa-heart-broken"></i>
                        <h4>{{localize "pf2ettw.condition.dying.name"}}</h4>
                    </div>
                    <div class="value dying-section">
                        {{#if data.attributes.dying.value}}
                            <a class="rollable roll-icon" data-action="recovery-check" title="{{localize "pf2ettw.Check.Specific.Recovery"}}">
                                <i class="fas fa-dice-d20"></i>
                            </a>
                        {{/if}}
                        <a class="dots dying" title="{{localize "pf2ettw.condition.dying.summary"}}">
                            <span class="pips">{{> systems/pf2ettw/templates/actors/partials/dying-pips.html}}</span>
                        </a>
                    </div>
                </div>
                <div class="defenses-section">
                    {{#if data.master.id}}
                    <div class="defenses-list">
                        <div class="ac" title="{{data.attributes.ac.breakdown}}">
                            <div class="name">{{localize "pf2ettw.ArmorClassShortLabel"}}</div>
                            <div class="value"><i class="fas fa-shield-alt"></i>{{numberFormat data.attributes.ac.value decimals=0 sign=false}}</div>
                        </div>
                        {{#each data.saves}}
                        <a class="saves save-name rollable" title="{{this.breakdown}}" data-save="{{@key}}">
                            <div class="name">{{localize this.label}}</div>
                            <div class="value">{{numberFormat this.value decimals=0 sign=true}}</div>
                        </a>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </section>
        </div>
    </div>
    <hr>
    <div class="main-section">
        <div class="skill-sidebar">
            <!-- SKILLS -->
            <div class="section-container">
                <div class="section-header">
                    <h4>{{localize "pf2ettw.Familiar.Skills"}}</h4>
                </div>
                <div class="section-body">
                    <div class="skills-content">
                        {{#if data.master.id}}
                        <div class="skills-list">
                            <div class="skill-name rollable perception" title="{{data.attributes.perception.breakdown}}" data-action="perception-check">
                                <div class="score">{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</div>
                                <div class="name">{{localize "pf2ettw.Familiar.Perception"}}</div>
                            </div>
                        </div>
                        <div class="skills-list">
                            {{#each data.skills}}
                            <div class="skill-name rollable" title="{{this.breakdown}}" data-skill="{{@key}}">
                                <div class="score">{{numberFormat this.value decimals=0 sign=true}}</div>
                                <div class="name">{{localize this.label}}</div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="rollable skills-attack" title="{{data.attack.breakdown}}" data-attack-roll="">
                            <strong>{{localize "pf2ettw.Familiar.AttackRoll"}}</strong>
                            <span>{{numberFormat data.attack.value decimals=0 sign=true}}</span>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <!-- FAMILIAR -->
            <div class="familiar-section section-container">
                <div class="section-header">
                    <h4>{{localize "pf2ettw.Familiar.Familiar"}}</h4>
                </div>
                <div class="section-body">
                    <div class="familiar-content">
                        <!-- Species Name -->
                        <div class="familiar-species">
                            <div class="detail">
                                <div class="detail-label" for="{{actor._id}}-species">{{localize
                                    "pf2ettw.Familiar.CreatureType"}}</div>
                                <input id="{{actor._id}}-species" type="text" name="data.details.creature.value"
                                    value="{{data.details.creature.value}}" placeholder="Rat, imp, leshy, etc." />
                            </div>
                        </div>
                        <!-- Master Ability Modifier -->
                        {{#if data.master.id}}
                        <div class="familiar-modifier">
                            <div class="detail">
                                <div class="detail-label">{{localize 'pf2ettw.Familiar.MasterSpellcastingAbility'}}</div>
                                <select id="{{actor._id}}-spellcasting-ability" name="data.master.ability">
                                    {{#select data.master.ability}}
                                    {{#each abilities as |ability abbr|}}
                                    <option value="{{abbr}}">{{localize ability}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{#if data.master.id}}
                    <div class="familiar-content">
                        <div class="detail">
                            <div class="detail-label">{{localize "pf2ettw.Familiar.TotalNumberFamiliarAbilities"}}</div>
                            <div>
                                <h4>{{numberFormat familiarAbilities.value decimals=0}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="familiar-content">
                        <!-- Speed -->
                        <div class="familiar-senses">
                            <div class="detail">
                                <div class="detail-label">{{localize "pf2ettw.Speed"}}</div>
                                <ol class="tags speeds">
                                    {{#with data.attributes.speed as |landSpeed|}}
                                    <li class="tag tag_alt" title="{{landSpeed.breakdown}}">{{localize landSpeed.label}}
                                        ({{landSpeed.total}})</li>
                                    {{/with}}
                                    {{#each data.attributes.speed.otherSpeeds as |speed k|}}
                                    <li class="tag tag_alt {{k}}" title="{{speed.breakdown}}">
                                        {{localize speed.label}} ({{speed.total}})
                                    </li>
                                    {{/each}}
                                </ol>
                            </div>
                        </div>
                        <!-- Senses -->
                        <div class="familiar-senses">
                            <div class="detail">
                                <div class="detail-label">{{localize "pf2ettw.Senses"}}</div>
                                <ol class="tags senses">
                                    {{#each data.traits.senses as |sense k|}}
                                    <li class="tag tag_alt {{k}}">
                                        {{localize sense.label}}
                                    </li>
                                    {{/each}}
                                </ol>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!-- ABILITIES -->
            <!-- coming soon... -->
            <!-- CONDITIONS -->
            <div class="section-container">
                <div class="section-header">
                    <h4>{{localize "pf2ettw.ConditionsLabel"}}</h4>
                </div>
                <div class="section-body">
                    <ol class="effects-list item-list">
                        {{> systems/pf2ettw/templates/actors/partials/conditions.html}}
                    </ol>
                </div>
            </div>
            <!-- EFFECTS -->
            <div class="section-container">
                <div class="section-header">
                    <h4>{{localize "pf2ettw.EffectsLabel"}}</h4>
                </div>
                <div class="section-body">
                    <ol class="effects-list item-list">
                        {{#each items as |item idx|}}
                        {{#if (eq item.type "effect")}}
                            <li class="item effects" data-item-id="{{item._id}}">
                                <div class="item-name">
                                    <div class="item-image" style="background-image: url({{item.img}})">
                                        <i class="fas fa-comment-alt"></i>
                                    </div>
                                    <h4>{{item.name}}</h4>
                                </div>
                                {{#if ../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="{{localize 'pf2ettw.EditItemTitle'}}"><i
                                            class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize pf2ettw.DeleteItemTitle}}"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                                <div class="item-summary"></div>
                            </li>
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</form>
