<div><h4><img src="{{itemImg}}" height="24" width="24"> {{itemName}} </h4></div>
<div data-visibility="gm">{{identifiedName}}</div>
<p>{{localize "pf2ettw.identification.PostSkillsToChatText"}}</p>
{{#each skills as |skill|}}
    <p>
        <span data-pf2-check="{{skill.shortForm}}" data-pf2-traits="concentrate,secret,skill" data-pf2-dc="{{skill.dc}}" data-pf2-show-dc="gm">{{skill.name}}</span>
    </p>
{{/each}}
