<form autocomplete="off">
    {{#if isMagic}}
        <h1>{{localize "pf2ettw.identification.IdentifyMagicDCs"}}</h1>
        <table>
            <tbody>
                <tr data-skill="arc" data-dc="{{dcs.arc}}">
                    <th>{{localize "pf2ettw.SkillArcana"}}</th>
                    <td>{{dcs.arc}}</td>
                </tr>
                <tr data-skill="nat" data-dc="{{dcs.nat}}">
                    <th>{{localize "pf2ettw.SkillNature"}}</th>
                    <td>{{dcs.nat}}</td>
                </tr>
                <tr data-skill="occ" data-dc="{{dcs.occ}}">
                    <th>{{localize "pf2ettw.SkillOccultism"}}</th>
                    <td>{{dcs.occ}}</td>
                </tr>
                <tr data-skill="rel" data-dc="{{dcs.rel}}">
                    <th>{{localize "pf2ettw.SkillReligion"}}</th>
                    <td>{{dcs.rel}}</td>
                </tr>
        </table>
    {{else if isAlchemical}}
        <h1>{{localize "pf2ettw.identification.IdentifyAlchemyDCs"}}</h1>
        <table>
            <tbody>
                <tr data-skill="cra" data-dc="{{dcs.cra}}">
                    <th>{{localize "pf2ettw.SkillCrafting"}}</th>
                    <td>{{dcs.cra}}</td>
                </tr>
        </table>
    {{else}}
        <h1>{{localize "pf2ettw.identification.IdentifyGenericDCs"}}</h1>
        <table>
            <tbody>
                <tr data-skill="cra" data-dc="{{dcs.dc}}">
                    <th>{{localize "pf2ettw.SkillCrafting"}}</th>
                    <td>{{dcs.dc}}</td>
                </tr>
        </table>
    {{/if}}
    <button type="button" class="post-skill-checks">
        <i class="far fa-save"></i>{{localize "pf2ettw.identification.PostSkillsToChat"}}
    </button>
    <button type="button" class="update-identification" value="identified">
        <i class="far fa-save"></i>{{localize "pf2ettw.identification.Identify"}}
    </button>
    <!--
         <button type="submit" class="misidentify" name="data.identification.status" value="misidentified">
         <i class="far fa-save"></i>{{localize "pf2ettw.identification.Misidentify"}}
         </button>
    -->
    <input type="hidden" name="status" />
</form>
