<h1>{{localize "pf2ettw.RecallKnowledge.BreakdownTitle"}}</h1>
<p>{{localize "pf2ettw.RecallKnowledge.Help"}}</p>
<table class="recall-knowledge-table">
  <tbody>
  <tr>
    <th>{{localize "pf2ettw.RecallKnowledge.Skill"}}</th>
    <th>{{localize "pf2ettw.RecallKnowledge.FirstAttempt"}}</th>
    <th>{{localize "pf2ettw.RecallKnowledge.SecondAttempt"}}</th>
    <th>{{localize "pf2ettw.RecallKnowledge.ThirdAttempt"}}</th>
    <th>{{localize "pf2ettw.RecallKnowledge.FourthAttempt"}}</th>
    <th>{{localize "pf2ettw.RecallKnowledge.FifthAttempt"}}</th>
    <th>{{localize "pf2ettw.RecallKnowledge.SixthAttempt"}}</th>
  </tr>
  {{#each skills}}
  <tr>
    <td>{{localize name}}</td>
    {{#each attempts}}
    <td>{{this}}</td>
    {{/each}}
  </tr>
  {{/each}}
  <tr>
    <td>{{localize "pf2ettw.RecallKnowledge.UnspecificLore"}}</td>
    {{#each unspecificLoreAttempts}}
    <td>{{this}}</td>
    {{/each}}
  </tr>
  <tr>
    <td>{{localize "pf2ettw.RecallKnowledge.SpecificLore"}}</td>
    {{#each specificLoreAttempts}}
    <td>{{this}}</td>
    {{/each}}
  </tr>
  </tbody>
</table>
