<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "pf2ettw.CurrencyPP"}}:</label>
        <input type="number" name="pp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.CurrencyGP"}}:</label>
        <input type="number" name="gp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.CurrencySP"}}:</label>
        <input type="number" name="sp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>{{localize "pf2ettw.CurrencyCP"}}:</label>
        <input type="number" name="cp" value="0" data-dtype="Number"/>
    </div>
    <div class="form-group">
    <label>{{localize "pf2ettw.RemoveCoinsByValueLabel"}}:</label>
        <input type="checkbox" name="removeByValue" data-dtype="Boolean"/>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i>{{localize "pf2ettw.RemoveCoinsTitle"}}</button>
</form>
