<form>
    <header class="sheet-header">
        <h1>
            {{entry.name}}
            {{#with entry.flexibleAvailable}}
                <div class="item-controls flexible-available">
                    {{localize "pf2ettw.SpellFlexibleAvailable" value=value max=max}}
                </div>
            {{/with}}
        </h1>
        <p class="hint">
            {{#if entry.isFlexible}}
                {{localize "pf2ettw.Actor.Creature.SpellPreparation.HintFlexible"}}
            {{else}}
                {{localize "pf2ettw.Actor.Creature.SpellPreparation.Hint"}}
            {{/if}}
        </p>

    </header>
    <section class="sheet-content">
        <ol class="directory-list item-list spell-list">
            {{#unless entry.spellPrepList}}
                {{#if @root.owner}}
                    <li class="spellbook-header spellbook-empty">
                        <h4>{{localize "pf2ettw.SpellSlotEmpty"}}</h4>
                        <a class="item-control spell-create" title="{{localize "pf2ettw.CreateSpellTitle"}}" data-type="spell" data-location="{{entry.id}}">
                            <i class="fas fa-plus"></i>{{localize "pf2ettw.AddSpellTitle"}}
                        </a>
                        <a class="item-control spell-browse" title="{{localize "pf2ettw.OpenSpellBrowserTitle"}}" data-type="spell" data-location="{{entry.id}}">
                            <i class="fas fa-search"></i>{{localize "pf2ettw.OpenSpellBrowserTitle"}}
                        </a>
                    </li>
                {{/if}}
            {{/unless}}
            {{#each entry.spellPrepList as |spells level|}}
                {{#if spells}}
                    <li class="spell-level-header">
                        <div class="item-name flexrow">
                            <h3>
                                {{#if (gt level 0)}}
                                    {{localize "pf2ettw.SpellLevel" level=(ordinal level)}}
                                {{else}}
                                    {{localize "pf2ettw.SpellCantripLabel"}}
                                {{/if}}
                            </h3>
                        </div>

                        <div class="spell-range">
                            {{localize "pf2ettw.SpellRangeLabel"}}
                        </div>
                        <div class="spell-components">{{localize "pf2ettw.SpellComponentsLabel"}}</div>
                        {{#if @root.owner}}
                            <div class="item-controls">
                                <a class="item-control spell-create" title="{{localize "pf2ettw.CreateSpellTitle"}}" data-type="spell"
                                    data-level="{{level}}" data-location="{{entry.id}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control spell-browse" title="{{localize "pf2ettw.OpenSpellBrowserTitle"}}" data-type="spell"
                                    data-level="{{level}}" data-location="{{entry.id}}"><i class="fas fa-search"></i></a>
                            </div>
                        {{/if}}
                    </li>
                    <!-- Unprepared Spells -->
                    {{#each spells as |item i|}}
                        <li class="item spell spellbook-item" data-item-id="{{item.spell.id}}" data-item-type="spell" draggable="true">
                            <div class="item-name rollable">
                                <div class="item-image">
                                    <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}">
                                </div>
                                <h4>{{spell.name}}{{{actionGlyph spell.data.data.time.value}}}</h4>
                            </div>

                            <div class="spell-range">{{spell.data.data.range.value}}</div>

                            <div class="spell-components tags">
                                {{#if spell.data.data.components.focus}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortF"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.material}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortM"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.somatic}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortS"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.verbal}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortV"}}</span>
                                {{/if}}
                            </div>
                            {{#unless spell.isCantrip}}
                                {{#if @root.entry.isFlexible}}
                                    <div class="spell-cast">
                                        <input
                                            type="checkbox"
                                            class="toggle-signature-spell"
                                            {{checked signature}}
                                            title="{{#if signature}}{{localize 'pf2ettw.SpellCollectionRemove'}}{{else}}{{localize 'pf2ettw.SpellCollectionAdd'}}{{/if}}"
                                        />
                                    </div>
                                {{/if}}
                            {{/unless}}
                            {{#if @root.editable}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                {{/if}}
            {{/each}}
        </ol>
    </section>
</form>
