{{#with entry as |entry|}}
    <ol class="directory-list spell-list" data-casting-type="{{castingType}}">
        {{!-- Add section for each level --}}
        {{#each entry.levels as |section|}}
            {{#if (or (gt section.active.length 0) entry.data.showSlotlessLevels.value)}}
                <li class="spell-level-header spellbook-header item" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{section.level}}">
                    <div class="item-name flexrow">
                        <h3>{{localize section.label}}</h3>

                        {{#if (and section.isCantrip (not section.uses))}}
                            <span class="spell-slots infinity">&infin;</span>
                            <span class="flex0"> / </span>
                            <span class="spell-max infinity">&infin;</span>
                        {{else if (and entry.isFocusPool (eq ../../focusStyle "pips"))}}
                            <div class="focus-points" title="{{localize "pf2ettw.Focus.pointTitle"}}">
                                {{#times section.uses.max}}
                                    <i class="{{#if (gt section.uses.value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
                                {{/times}}
                            </div>
                        {{else if (and entry.isFocusPool (eq ../../focusStyle "inputs"))}}
                            <div class="focus-pool-input" title="{{localize "pf2ettw.Focus.pointTitle"}}">
                                <span class="spell-slots-input">
                                    <input type="number" name="data.resources.focus.value" value="{{@root.data.resources.focus.value}}" placeholder="0" />
                                </span>
                                <span class="slash"> / </span>
                                <span class="spell-max-input">
                                    <input type="number" name="data.resources.focus.max" value="{{@root.data.resources.focus.max}}" placeholder="0" />
                                </span>
                            </div>
                        {{else if section.uses}}
                            {{#if section.uses.value includeZero=true}}
                                <span class="spell-slots-input">
                                    <input type="number" data-item-id="{{entry.id}}" data-item-property="data.slots.slot{{section.level}}.value" value="{{section.uses.value}}" placeholder="0" />
                                </span>
                                <span class="slash"> / </span>
                            {{/if}}
                            <span class="spell-max-input">
                                <input type="number" data-item-id="{{entry.id}}" data-item-property="data.slots.slot{{section.level}}.max" value="{{section.uses.max}}" placeholder="0" />
                            </span>
                            {{#if section.uses.value includeZero=true}}
                                {{#if @root.options.editable}}
                                    <a class="spell-slots-increment-reset" data-item-id="{{entry._id}}" data-level="{{section.level}}"><i class="fas fa-redo"></i></a>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>

                    <div class="spell-range">
                        {{#if entry.isInnate}}
                            {{localize "pf2ettw.SpellUsesLabel"}}
                        {{else}}
                            {{localize "pf2ettw.SpellRangeLabel"}}
                        {{/if}}
                    </div>
                    <div class="spell-components">{{localize "pf2ettw.SpellComponentsLabel"}}</div>

                    {{#unless entry.isPrepared}}
                        {{#if @root.options.editable}}
                            <div class="item-controls">
                                <a class="item-control spell-create" title="{{localize "pf2ettw.CreateSpellTitle"}}" data-type="spell"
                                    data-level="{{section.level}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control spell-browse" title="{{localize "pf2ettw.OpenSpellBrowserTitle"}}" data-type="spell"
                                    data-level="{{section.level}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                            </div>
                        {{/if}}
                    {{/unless}}
                </li>

                {{!-- Add spell items for each spell level --}}
                {{#each section.active as |active i|}}
                    {{#with active}}
                        <li
                            class="item spell{{#if virtual}} virtual{{/if}}"
                            data-item-id="{{spell.id}}"
                            data-entry-id="{{entry.id}}"
                            data-spell-lvl="{{section.level}}"
                            {{#if entry.isPrepared}}data-slot-id="{{i}}"{{/if}}
                            data-item-type="spell"
                            data-expended-state="{{expended}}"
                            data-item-summary-id="{{spell.id}}-{{section.level}}-{{i}}"
                        >
                            <div class="drag-handle item-name rollable">
                                <div class="item-image">
                                    <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}">
                                </div>
                                <h4>{{spell.name}}{{{actionGlyph spell.data.data.time.value}}}</h4>
                            </div>

                            <div class="spell-range">
                                {{!-- Innate spells replace range for uses --}}
                                {{#unless entry.isInnate}}
                                    {{spell.data.data.range.value}}
                                {{else if uses}}
                                    <div class="uses">
                                        <span class="spell-slots-input">
                                            <input type="number" data-item-id="{{spell.id}}" data-item-property="data.location.uses.value" value="{{uses.value}}" placeholder="0" />
                                        </span>
                                        <span class="slash"> / </span>
                                        <span class="spell-max-input">
                                            <input type="number" data-item-id="{{spell.id}}" data-item-property="data.location.uses.max" value="{{uses.max}}" placeholder="0" />
                                        </span>
                                        <a class="spell-slots-increment-reset" data-item-id="{{spell.id}}"><i class="fas fa-redo"></i></a>
                                    </div>
                                {{else}}
                                    {{localize "pf2ettw.SpellUnlimitedLabel"}}
                                {{/unless}}
                            </div>

                            <div class="spell-components tags">
                                {{#if spell.data.data.components.focus}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortF"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.material}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortM"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.somatic}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortS"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.verbal}}
                                    <span class="tag tag_transparent">{{localize "pf2ettw.SpellComponentShortV"}}</span>
                                {{/if}}
                            </div>

                            {{#if @root.options.editable}}
                                <button type="button" class="cast-spell" data-action="cast-spell">{{localize "pf2ettw.CastLabel"}}</button>
                                {{#unless (and entry.isFlexible (not section.isCantrip))}}
                                    <div class="item-controls">
                                        {{#if entry.isPrepared}}
                                            {{#unless section.isCantrip}}
                                                <a class="item-control item-toggle-prepare" title="{{#if expended}}{{localize 'pf2ettw.RestoreSpellTitle'}}{{else}}{{localize 'pf2ettw.ExpendSpellTitle'}}{{/if}}"><i class="fas {{#if expended}}fa-plus-square{{else}}fa-minus-square{{/if}}"></i></a>
                                            {{/unless}}
                                            <a class="item-control item-unprepare" title="{{localize "pf2ettw.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        {{else}}
                                            {{#if (and (eq entry.data.prepared.value "spontaneous") (not section.isCantrip))}}
                                                <a class="item-control toggle-signature-spell" title="{{localize 'pf2ettw.ToggleSignatureSpellTitle'}}">
                                                    {{#if signature}}<i class="fas fa-star"></i>{{else}}<i class="far fa-star"></i>{{/if}}
                                                </a>
                                            {{/if}}
                                            {{#unless virtual}}
                                                <a class="item-control item-edit" title="{{localize "pf2ettw.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="{{localize "pf2ettw.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                            {{/unless}}
                                        {{/if}}
                                    </div>
                                {{/unless}}
                            {{/if}}
                        </li>
                    {{else}}
                        <li class="item" data-item-id="{{i}}" data-spell-lvl="{{section.level}}" data-item-type="spellSlot" data-slot-id="{{i}}" data-entry-id="{{entry.id}}" draggable="true">
                            <div class="item-name empty"><h4>{{localize "pf2ettw.SpellSlotEmpty"}}</h4></div>
                        </li>
                    {{/with}}
                {{/each}}
            {{/if}}
        {{/each}}
        {{#unless entry.levels}}
            {{#if @root.owner}}
                <li class="spellbook-header spellbook-empty">
                    <h4>{{localize "pf2ettw.SpellSlotEmpty"}}</h4>
                    <a class="item-control spell-create" title="{{localize "pf2ettw.CreateSpellTitle"}}" data-type="spell" data-location="{{entry._id}}">
                        <i class="fas fa-plus"></i>{{localize "pf2ettw.AddSpellTitle"}}
                    </a>
                    <a class="item-control spell-browse" title="{{localize "pf2ettw.OpenSpellBrowserTitle"}}" data-type="spell" data-location="{{entry._id}}">
                        <i class="fas fa-search"></i>{{localize "pf2ettw.OpenSpellBrowserTitle"}}
                    </a>
                </li>
            {{/if}}
        {{/unless}}
    </ol>
{{/with}}
