<div class="dialog-content" autocomplete="off">
    <form>
        <div class="form-group">
            <label>{{localize "pf2ettw.SpellcastingTypeLabel"}}</label>
            <select name="spellcasting-type" {{disabled entry}}>
            {{#select data.spellcastingType}}
            {{#each spellcastingTypes as |label mode|}}
                <option value="{{mode}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
        {{#unless (eq data.spellcastingType "ritual")}}
            <div class="form-group tradition-group">
                <label>{{localize "pf2ettw.MagicTraditionLabel"}}</label>
                <select name="magic-tradition">
                {{#select data.tradition}}
                {{#each magicTraditions as |label mode|}}
                    <option value="{{mode}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
                </select>
            </div>
            <div class="form-group spell-ability">
                <label>{{localize "pf2ettw.SpellAbilityLabel"}}</label>
                <select name="ability">
                    {{#select data.ability}}
                        {{#each abilities as |abl a|}}
                            <option value="{{a}}">{{localize abl}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            {{#if (eq data.spellcastingType "prepared")}}
                <div class="form-group">
                    <label>{{localize "pf2ettw.SpellFlexibleLabel"}}</label>
                    <input name="flexible" type="checkbox" {{checked data.flexible}}/>
                </div>
            {{/if}}
        {{/unless}}
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button finish default" data-button="finish">
        {{#if entry}}
            {{localize "pf2ettw.UpdateLabelUniversal"}}
        {{else}}
            {{localize "pf2ettw.CreateLabelUniversal"}}
        {{/if}}
    </button>
</div>
